.kv{
    background-color: #D3E0BE;
    height: 100vh;
    img{
        width: 100px;
    }
}
#news {
    h3 {
        margin-top: 42px;
        margin-bottom: 27px;
        color: #915727;
        text-align: center;
    }

    .news {
        li {
            position: relative;
          
            &::before{
                content:"";
                padding-bottom: 400 * 100% / 600;
                display: block;
                width: 100%;
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .news-bg {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top:2.5%;
                left: 2.5%;
                width: 95%;
                height: 95%;
                background-color: rgba(0, 0, 0, 0.3);
                h4 {
                    display: block;
                    color: white;
                    padding: 20px;

                }
                .news-content {
                    color: white;
                    display: none;
                    padding: 20px;
                    font-size: 16px;
                    line-height: 1.6;
                }
            }
            &:hover .news-bg h4 {
                display: none;
            }
            &:hover .news-bg .news-content {
                display: block;

            }
        }
    }
}

.swiper-container {
    width: 100%;
    height: auto;
}

.hotelPanorama {
    h3 {
        margin-top: 60px;
        margin-bottom: 28px;
        color: #915727;
        text-align: center;
    }

    #panorama {
        width: 100%;
        max-height: 1000px;
        height: 90vh;
        @include pad{
            height: 70vh;
        }
        cursor: none;

        #controls {
            position: absolute;
            bottom: 0;
            z-index: 2;
            text-align: center;
            width: 100%;
            padding-bottom: 3px;

            .ctrl {
                padding: 8px 5px;
                width: 30px;
                text-align: center;
                background: rgba(255, 200, 87, 0.8);
                color: white;
                display: inline-block;
                cursor: pointer;

                &:hover {
                    background: rgba(255, 200, 87, 1);
                }
            }
        }
    }
}

#location {
    background-image: url('../img/index/mapPc.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #558b6e;
    padding-bottom: 60px;
    position: relative;
    overflow: hidden;

    @include pad {
        background-image: url('../img/index/mapPad.png');
        background-size: 120%;
        background-position: top;
    }

    @include iphoneX {
        background-image: url('../img/index/mapMobile.png');
        background-size: 120%;
        background-position: 65% 4%;
    }

    h3 {
        margin-top: 105px;
        margin-bottom: 30px;
        color: #915727;
        text-align: center;
    }

    iframe {
        max-width: 657px;
        width: 100%;
        height: 423px;
        margin-bottom: 33px;
        border: 5px solid #558b6e;
        border-radius: 60px;
    }

    .locationContent {
        max-width: 468px;
        width: 100%;

        @include pad {
            max-width: 800px;
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    .locationInfo {
        line-height: 2;

        &:nth-child(2) {
            margin-top: 25px;
        }

        &:last-child {
            margin-top: 50px;
        }

        .locationInfoTitle {
            background-color: #ffc857;
            border-radius: 30px;
            padding: 5px;
            color: black;
            margin-right: 10px;
        }

        ul {
            li {
                span {
                    &:first-child {
                        margin-top: 15px;
                    }

                    display: block;
                    font-weight: bold;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}
