.faq_wrapper{
    width: 85%;
    margin: 45px auto;

    .faq_talk_bubble1{
        width: 100%;
        margin-bottom: 20px;

        .faq_customer{
            width: 80px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 30px;
        }

        .faq_talk {
            width: 500px;
            background-color:rgba(255,200,87,.15);
            position: relative;
            display: inline-block;
            vertical-align: middle;
            border-radius: 30px;

            .faq_talktext{
                padding: 20px 16px;
                line-height: 36px;                

                .faq_topic{
                    color: #707070;
                }
            }
        }

        .faq_say1:after{
            content: ' ';
            border: 12px solid;
            border-color: transparent rgba(255,200,87,.15) rgba(255,200,87,.15) transparent;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -24px;
        }
    }

    .faq_talk_bubble2{
        width: 100%;
        text-align: right;
        margin-bottom: 20px;

        .faq_talk {
            width: 500px;
            background-color:rgba(255,200,87,.15);
            position: relative;
            display: inline-block;
            vertical-align: middle;
            border-radius: 30px;

            .faq_talktext{
                padding: 20px 16px;
                line-height: 36px;                

                .faq_answer{
                    color: #000000;
                    text-align: left;

                    img{
                        width: 100%;
                        margin-top: 10px;
                        border-radius: 30px;
                        border: 2px dashed #f39800;
                    }
                }
            }
        }

        .faq_say2:after{
            content: ' ';
            border: 12px solid;
            border-color: rgba(255,200,87,.15) transparent transparent rgba(255,200,87,.15);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -24px;
        }

        .faq_lovepet{
            width: 80px;
            display: inline-block;
            vertical-align: middle;
            margin-left: 30px;
        }
    }
}