$colorYellow:#FFC857;
$colorOrange:#FF8562;
$colorGreen:#D3E0BE;
$colorGrey:#707070;

h1 span, h3 span{
  color:$colorOrange
}

.wrapper{
  // max-width: 1400px;
  margin: 0 auto;
}

//第一區 header
.iHeader{
  background-color: #D3E0BE;
  height: 150px;
  display: flex;
  justify-content: center;
  position: relative;
  h1{
    line-height: 150px;
    color:#707070;
    font-weight: bold;
    position: absolute;
    z-index: 2;
  }
  .tree1{
    img{
      width: 300px;
      position: absolute;
      top: -20px;
      left: 50px;
    }
  }
  .tree2{
    img{
      width: 300px;
      position: absolute;
      top: -10px;
      right: 50px;
    }
  }
  .dog{
    img{
      width: 120px;
      position: absolute;
      top: 50px;
      left: 30%;
    }
  }
}

//第二區 大圖
.mainPic{
  background-color: #D3E1BE;
}

// 第三區 三顆圓形
.second{
  max-width: 1400px;
  margin: 50px auto 0;
  overflow: hidden;
  padding-top: 10px;
  box-sizing: border-box;
  .circle{
    width: 200px;
    height: 280px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
  }
  h3{
    text-align: center;
    color:#707070;
    margin-top: 40px;

  }
  p{
    width: 250px;
    margin: 0 auto;
    margin-top: 20px;
    line-height: 1.6;
  }
}

@media (max-width: 768px){
  .second{
    p{
      width: 250px;
      padding-bottom: 20px;
      margin-top: 20px;
      line-height: 1.6;
    }
  }
}

// 第四區 環境介紹

.envIntro{
  max-width: 1400px;
  margin-top: 100px;
  margin-bottom: -150px;
  overflow: hidden;
  .word{
    position: relative;
    padding-left: 50px;
    &:after{
      content:"";
      display: block;
      width: calc(100vw - 30%);
      max-width: 1200px;
      height: 480px;
      border-radius: 30px;
      background-color: $colorYellow;
      position: absolute;
      top: 20px;
      left: 10px;
      box-shadow: 0px 0px 10px rgba(black, .5);
      z-index: -1;
    }
  }
  .envPictures{
    img{
      border-radius: 30px;
      max-width: 100%;
      position: relative;
    }
    .envWord{
      transform: translate(-380px, -400px);
      width: 350px;
      h2{
        color:#707070;
        font-weight: bold;
      }
      p{
        letter-spacing: 2px;
        line-height: 1.6;
        margin-top: 30px;
      }
    }
  }
  button{
    outline: none;
    border:0px;
    cursor: pointer;
  }
}

@media (max-width: 1200px) {
  .envIntro{
    padding-bottom: 50px;
    margin-bottom: 0px;
    .word{
      padding: 10px;
      position: relative;
      &:after{
        content:"";
        display: block;
        width: 85%;
        height:350px;
        border-radius: 30px;
        background-color: $colorYellow;
        position: absolute;
        top: -300px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
      }
    }
    .envPictures{
      .envWord{
        width: 70%;
        transform: translate(15vw, 0px);
        h2{
          color:#707070;
          font-weight: bold;
          margin-top: 28px;
        }
        p{
          letter-spacing: 2px;
          line-height: 1.6;
          margin-top: 20px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .envIntro{
    .word{
      padding: 5px;
      p{
        margin-top: 20px;
        padding: 10px;
      }
      &:after{
        top: -380px;
        height:380px;
      }
    }
  }
}

// 第五區 廚師介紹

.chifIntro{
  max-width: 1400px;
  margin-top: 60px;
  margin-bottom: 50px;
  padding: 30px;
  overflow: hidden;
  .chifPic1,.chifPic2{
    background-size: cover;
    background-position: center center;
    border-radius: 30px;
    width: 280px;
    height: 374px;
  }
  .chifPic1{
    background-image: url(../img/restaurant/chef_2.png);
  }
  .chifPic2{
    background-image: url(../img/restaurant/chef_1.png);
  }
  .word{
    position: relative;
    h4{
      margin-top: 70px;
      color:$colorOrange;
    }
    p{
      width: 220px;
      margin-top: 40px;
      line-height: 1.6;
      color:$colorGrey
    }
    &:after{
      content: "";
      display: block;
      width: 410px;
      height: 280px;
      border-radius: 30px;
      background-color: #F2F2F2;
      position: absolute;
      top: 110px;
      left: -140px;
      z-index: -1;
    }
  }
}

//RWD
@media (max-width: 992px){
  .chifIntro{
    .chifPic1,.chifPic2{
      border-radius: 30px;
      height: 500px;
    }
    .chifPic1{
      background-image: url(../img/restaurant/chef_2.png);
    }
    .chifPic2{
      background-image: url(../img/restaurant/chef_1.png);
      margin-top: 50px;
    }
    .word{
      position: relative;
      padding-left: 100px;
      h4{
        margin-top: 150px;
        color:$colorOrange;
      }
      p{
        width: 280px;
        margin-top: 40px;
        line-height: 1.6;
        color:$colorGrey;
      }
      &:after{
        content: "";
        display: block;
        width: 1000px;
        height: 250px;
        border-radius: 30px;
        background-color: #F2F2F2;
        position: absolute;
        top: 190px;
        left:-50px;
        z-index: -1;
      }
    }
  }
}

@media (max-width: 768px){
  .chifIntro{
    min-height: 1600px;
    .chifPic1,.chifPic2{
      border-radius: 30px;
      height: 500px;
    }
    .chifPic1{
      background-image: url(../img/restaurant/chef_2.png);
    }
    .chifPic2{
      background-image: url(../img/restaurant/chef_1.png);
      margin-top: 80px;
    }
    .word{
      position: relative;
      padding-left: 0px;
      h4{
        margin-top: 20px;
        color:$colorOrange;
        text-align: center;
      }
      p{
        width: 100%;
        line-height: 1.6;
        color:$colorGrey;
        margin: 0 auto;
        margin-top: 0px;
        padding: 15px 40px;
      }
      &:after{
        content: "";
        display: block;
        width: 100%;
        height: 320px;
        border-radius: 80px;
        background-color: #F2F2F2;
        position: absolute;
        top: -70px;
        left:0px;
        z-index: -1;
      }
    }
  }
}


// 第六區 客製毛孩美食
.customPet{
  margin-top: 30px;
  margin-bottom: 100px;
  max-width: 1400px;
  .customPetMenu{
    // border: 1px solid #000;
    height: 470px;
    overflow-x: auto;
  }
  // 下拉式選單
  .foodchosen{
    width: 100%;
    height: 36px;
    background-color: #558b6e;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    outline: 0;
    text-align: center;
    text-align-last: center;
  }
  .foodback{
    background-color: #F7D081;
    border-radius: 30px;
    margin: 10px;
    padding: 20px 0;
    box-shadow: 0px 0px 10px rgba(black, .3);
    border: 1px solid #eee;
    text-align: center;
    .foodpic{
      display: flex;
      align-items: flex-end;
      width: 120px;
      height: 150px;
      margin: 0 auto;
    }
  }
  button{
    font-size: 16px;
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 30px;
    margin-bottom: 20px;
    transition: .5s;
    cursor: pointer;
    &:hover{
      background-color: $colorOrange;
      color: white;
    }
    &:active{
      background-color: #EFEFEF;
      color:black;
    }
  }
}

.foodinfo{
  *{
    margin-top: 20px;
  }
}


// 右邊結帳區
.customPet{
  .right{
    .foodpic1{
      background-image: url(../img/restaurant/plate.png);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      width: 100%;
      height: 430px;
      position: relative;
      div{
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        top: 50%;
        left: 50%;
      }
      .mainfood{
        background-image: url(../img/restaurant/mainFood.svg);
        width: 200px;
        height: 200px;
        transform: translate(-50%, -50%);
        z-index: 100;
      }
      .mainfood2{
        background-image: url(../img/restaurant/mainFood2.svg);
        width: 210px;
        height: 210px;
        transform: translate(-50%, -50%);
        z-index: 100;
      }
      .mainfood3{
        background-image: url(../img/restaurant/mainFood3.svg);
        width: 210px;
        height: 210px;
        transform: translate(-50%, -50%);
        z-index: 100;
      }
      .mainfood4{
        background-image: url(../img/restaurant/mainFood4.svg);
        width: 210px;
        height: 210px;
        transform: translate(-50%, -50%);
        z-index: 100;
      }
      .sidefood1{
        background-image: url(../img/restaurant/sliceCarrot.svg);
        width: 140px;
        height: 140px;
        top: 45%;
        left: 25%;
      }
      .sidefood4{
        background-image: url(../img/restaurant/sliceAvocado.svg);
        width: 180px;
        height: 180px;
        top: 19%;
        left: 24%;
      }
      .sidefood2{
        background-image: url(../img/restaurant/sliceRedcabbage.svg);
        width: 150px;
        height: 150px;
        top: 25%;
        left: 55%;
      }
      .sidefood3{
        background-image: url(../img/restaurant/sliceEgg.svg);
        width: 150px;
        height: 150px;
        top: 10%;
        left: 40%;
      }
      .meat{
        background-image: url(../img/restaurant/meat.svg);
        width: 180px;
        height: 140px;
        top: 61%;
        left: 42%;
        z-index: 101;
      }
    }
  }
  .foodmenu{
    text-align: center;
    background-color: #F2F2F2;
    border-radius: 30px;
    padding: 30px;
    border: 2px solid #eee;
    box-sizing: border-box;
    ul{
      margin-top: 10px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      li{
        flex-basis: 100px;
        flex-grow: 1;
        button{
          margin-top: 20px;
          background-color: #fff;
          cursor: pointer;
          &:hover{
            background-color: $colorOrange;
          }
          &:active{
            background-color: #FFFFFF;
            color:black;
          }
        }
      }
    }
  }
  .line{
    position: relative;
    &:after{
      content: "";
      display: block;
      width: 80%;
      position: absolute;
      left: 50%;
      bottom: 250px;
      transform: translateX(-50%);
      border-bottom: 2px dashed #999;
    }
    &:before{
      content: "";
      display: block;
      width: 80%;
      position: absolute;
      left: 50%;
      bottom: 180px;
      transform: translateX(-50%);
      border-bottom: 2px dashed #999;
    }
  }
}

@media (max-width: 768px){
  .customPet{
    .right{
      .foodpic1{
        margin-bottom: 10px;
        background-size: contain;
        background-repeat: no-repeat;
        display: none;
      }
    }
  }
}

@media (max-width: 576px){
  .customPet{
    .foodmenu{
      ul{
        li{
          button{
            width: 30px;
            height: 30px;
            margin-top: 20px;
            background-color: #fff;
            &:hover{
              background-color: $colorOrange;
            }
          }
          &:first-child, &:last-child{
            // border: 1px solid #000;
            flex-basis: 250px;
          }
        }
      }
    }
  }
}

.totalPrice{
  margin-top: 50px;
}

.addToMenu{
  margin-top: 30px;
  button{
    background-color: #fff;
    cursor: pointer;
    &:hover{
      background-color: $colorOrange;
    }
    &:active{
      background-color: #FFFFFF;
      color:black;
    }
  }
}

// 第七區 推薦毛孩美食
.Pet{
  max-width: 1400px;
  margin-top: 100px;
  margin-bottom: 100px;
  // 下拉式選單
  .foodchosen{
    width: 100%;
    height: 36px;
    background-color: #558b6e;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    outline: 0;
    text-align: center;
    text-align-last: center;
  }
  // 左邊沙拉類
  .foodback{
    background-color: #F7D081;
    border-radius: 30px;
    margin: 10px;
    text-align: center;
    position: relative;
    box-shadow: 0px 0px 10px rgba(black, .3);
    border: 1px solid #eee;
    overflow: hidden;
    &:before{
      content: "沙拉";
      display: block;
      width: 180px;
      height: 180px;
      border-radius: 50%;
      background-color: $colorOrange;
      position: absolute;
      left: 50%;
      font-size: 30px;
      color: white;
      font-weight: bold;
      padding-top: 110px;
      transform: translate(-50%, -50%);
    }
  }
  //左邊圖片
  .petmenu-left{
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .petfood1{
      background-image: url(../img/restaurant/petfood.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 250px;
      height: 250px;
    }
  }
  //右邊文字
  .petmenu-right{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    ol{
      width: 100%;
      position: relative;
      .addmenu{
        position: absolute;
        left: 30px;
        cursor: pointer;
        &:hover{
          color:#4DAA57;
          transition: .3s;
        }
        &:after{
          content: "加入菜單";
          display: none;
          visibility: visible;
          width: 60px;
          background-color: #999;
          border-radius: 3px;
          font-size: 14px;
          position: absolute;
          left: -175%;
          bottom: -25px;
          padding: 2px;
          color:white;
          font-family: 'Noto Sans TC';
        }
        &:hover:after{
          display: block;
        }
      }
      .info{
        position: absolute;
        left: 50px;
        cursor: pointer;
        &:hover{
          color:#4DAA57;
          transition: .3s;
        }
        &:after{
          content: "更多資訊";
          display: none;
          visibility: visible;
          width: 60px;
          background-color: #999;
          border-radius: 3px;
          font-size: 14px;
          position: absolute;
          left: -175%;
          bottom: -25px;
          padding: 2px;
          color:white;
          font-family: 'Noto Sans TC';
        }
        &:hover:after{
          display: block;
        }
      }
      li{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 5px;
        padding: 10px;
        cursor: pointer;
        transition: .2s;
        position: relative;
        &:hover{
          color:#4DAA57;
          background-color: rgba(255,255,255,.6);
          border-radius: 6px;
          span{
            color:black;
          }
        }
        span{
          position: absolute;
          right: 10px;
          bottom: -15px;
          font-size: 10px;
          font-weight: normal;
          color:black;
          opacity: .5;
        }
        p{
          font-size: 16px;
        }
      }
    }
  }
  button{
    font-size: 16px;
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 30px;
    margin-bottom: 20px;
    transition: .5s;
    cursor: pointer;
    margin-top: 20px;
    background-color: #fff;
    &:hover{
      background-color: $colorOrange;
      color: white;
    }
    &:active{
      background-color: #FFFFFF;
      color:black;
    }
  }
}

@media (max-width: 768px){
  .Pet{
    //左邊圖片
    .petmenu-left{
      margin-top: 120px;
      margin-bottom: 0px;
      padding-left: 0px;
      .petfood1{
        display: inline-block;
      }
    }
    //右邊文字
    .petmenu-right{
      margin-top: 0px;
      margin-bottom: 100px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      ol{
        margin: 30px 0px;
      }
    }
  }
}

// 左邊鮮食類
.foodback2{
  background-color: #F7D081;
  border-radius: 30px;
  margin: 10px;
  text-align: center;
  position: relative;
  box-shadow: 0px 0px 10px rgba(black, .3);
  border: 1px solid #eee;
  overflow: hidden;
  &:before{
    content: "鮮食類";
    display: block;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: $colorOrange;
    position: absolute;
    left: 50%;
    font-size: 30px;
    color: white;
    font-weight: bold;
    padding-top: 110px;
    transform: translate(-50%, -50%);
  }
}
//左邊圖片
.petmenu2-left{
  margin-top: 100px;
  margin-bottom: 100px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  .petfood1{
    background-image: url(../img/restaurant/petfood2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
  }
}
//右邊文字
.petmenu2-right{
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  ol{
    width: 100%;
    .addmenu{
      position: absolute;
      left: 30px;
      cursor: pointer;
      &:hover{
        color:#4DAA57;
        transition: .3s;
      }
      &:after{
        content: "加入菜單";
        display: none;
        visibility: visible;
        width: 60px;
        background-color: #999;
        border-radius: 3px;
        font-size: 14px;
        position: absolute;
        left: -175%;
        bottom: -25px;
        padding: 2px;
        color:white;
        font-family: 'Noto Sans TC';
      }
      &:hover:after{
        display: block;
      }
    }
    .info{
      position: absolute;
      left: 50px;
      cursor: pointer;
      &:hover{
        color:#4DAA57;
        transition: .3s;
      }
      &:after{
        content: "更多資訊";
        display: none;
        visibility: visible;
        width: 60px;
        background-color: #999;
        border-radius: 3px;
        font-size: 14px;
        position: absolute;
        left: -175%;
        bottom: -25px;
        padding: 2px;
        color:white;
        font-family: 'Noto Sans TC';
      }
      &:hover:after{
        display: block;
      }
    }
    li{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 5px;
      padding: 10px;
      cursor: pointer;
      transition: .2s;
      position: relative;
      &:hover{
        color:#4DAA57;
        background-color: rgba(255,255,255,.6);
        border-radius: 6px;
        span{
          color:black;
        }
      }
      span{
        position: absolute;
        right: 10px;
        bottom: -15px;
        font-size: 10px;
        font-weight: normal;
        color:black;
        opacity: .5;
      }
      p{
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 768px){
  //左邊圖片
.petmenu2-left{
  margin-top: 120px;
  margin-bottom: 0px;
  padding-left: 0px;
  .petfood1{
    display: inline-block;
  }
}
//右邊文字
.petmenu2-right{
  margin-top: 0px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  ol{
    margin: 30px 0px;
  }
}
}


// 右邊結帳區
.Pet{
  .foodmenu{
    height:100%;
    text-align: center;
    background-color: #F2F2F2;
    border-radius: 30px;
    padding: 30px;
    border: 2px solid #eee;
    box-sizing: border-box;
    height: 560px;
    overflow-y: auto;
    ul{
      margin-top: 20px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      li{
        flex-basis: 1px;
        flex-grow: 1;
      }
    }
  }
}

@media (max-width: 576px){
  .Pet{
    .foodmenu{
      ul{
        li{
          button{
            width: 30px;
            height: 30px;
            margin-top: 20px;
            background-color: #fff;
            &:hover{
              background-color: $colorOrange;
            }
          }
          &:first-child, &:last-child{
            flex-basis: 55px;
          }
        }
      }
    }
  }
}

// 第八區 現有人類美食
.human{
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: 1400px;
  // 下拉式選單
  .foodchosen{
    width: 100%;
    height: 36px;
    background-color: #558b6e;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    outline: 0;
    text-align: center;
    text-align-last: center;
  }
  // 左邊義式菜單
  .foodback{
    background-color: #F7D081;
    border-radius: 30px;
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(black, .3);
    border: 1px solid #eee;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-image: url(../img/restaurant/humanfood.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;
    ol{
      width: 100%;
      .addmenu{
        position: absolute;
        left: 80px;
        cursor: pointer;
        &:hover{
          color:#4DAA57;
          transition: .3s;
        }
        &:after{
          content: "加入菜單";
          display: none;
          visibility: visible;
          width: 60px;
          background-color: #999;
          border-radius: 3px;
          font-size: 14px;
          position: absolute;
          left: -175%;
          bottom: -25px;
          padding: 2px;
          color:white;
          font-family: 'Noto Sans TC';
        }
        &:hover:after{
          display: block;
        }
      }
      .info{
        position: absolute;
        left: 100px;
        cursor: pointer;
        &:hover{
          color:#4DAA57;
          transition: .3s;
        }
        &:after{
          content: "更多資訊";
          display: none;
          visibility: visible;
          width: 60px;
          background-color: #999;
          border-radius: 3px;
          font-size: 14px;
          position: absolute;
          left: -175%;
          bottom: -25px;
          padding: 2px;
          color:white;
          font-family: 'Noto Sans TC';
        }
        &:hover:after{
          display: block;
        }
      }
      li{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 5px;
        padding: 10px;
        cursor: pointer;
        transition: .2s;
        position: relative;
        &:hover{
          color:#4DAA57;
          background-color: rgba(255,255,255,.6);
          border-radius: 6px;
          span{
            color:black;
          }
        }
        span{
          position: absolute;
          right: 10px;
          bottom: -15px;
          font-size: 10px;
          font-weight: normal;
          color:black;
          opacity: .5;
        }
        p{
          font-size: 16px;
        }
      }
    }
    &:before{
      content: "義式";
      display: block;
      width: 180px;
      height: 180px;
      border-radius: 50%;
      background-color: $colorOrange;
      position: absolute;
      left: 50%;
      font-size: 30px;
      color: white;
      font-weight: bold;
      padding-top: 110px;
      transform: translate(-50%, -50%);
    }
  }
  // 左邊美式菜單
  .foodback2{
    background-color: #F7D081;
    border-radius: 30px;
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(black, .3);
    border: 1px solid #eee;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-image: url(../img/restaurant/humanfood2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;
    ol{
      width: 100%;
      .addmenu{
        position: absolute;
        left: 80px;
        cursor: pointer;
        &:hover{
          color:#4DAA57;
          transition: .3s;
        }
        &:after{
          content: "加入菜單";
          display: none;
          visibility: visible;
          width: 60px;
          background-color: #999;
          border-radius: 3px;
          font-size: 14px;
          position: absolute;
          left: -175%;
          bottom: -25px;
          padding: 2px;
          color:white;
          font-family: 'Noto Sans TC';
        }
        &:hover:after{
          display: block;
        }
      }
      .info{
        position: absolute;
        left: 100px;
        cursor: pointer;
        &:hover{
          color:#4DAA57;
          transition: .3s;
        }
        &:after{
          content: "更多資訊";
          display: none;
          visibility: visible;
          width: 60px;
          background-color: #999;
          border-radius: 3px;
          font-size: 14px;
          position: absolute;
          left: -175%;
          bottom: -25px;
          padding: 2px;
          color:white;
          font-family: 'Noto Sans TC';
        }
        &:hover:after{
          display: block;
        }
      }
      li{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 5px;
        padding: 10px;
        cursor: pointer;
        transition: .2s;
        position: relative;
        &:hover{
          color:#4DAA57;
          background-color: rgba(255,255,255,.6);
          border-radius: 6px;
          span{
            color:black;
          }
        }
        span{
          position: absolute;
          right: 10px;
          bottom: -15px;
          font-size: 10px;
          font-weight: normal;
          color:black;
          opacity: .5;
        }
        p{
          font-size: 16px;
        }
      }
    }
    &:before{
      content: "美式";
      display: block;
      width: 180px;
      height: 180px;
      border-radius: 50%;
      background-color: $colorOrange;
      position: absolute;
      left: 50%;
      font-size: 30px;
      color: white;
      font-weight: bold;
      padding-top: 110px;
      transform: translate(-50%, -50%);
    }
  }

  //菜單下方食物圖片
  .human-down{
    margin-top: 100px;
    margin-bottom: 100px;
    .humanFoodPic1,.humanFoodPic2{
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      width: 100%;
      height: 340px;
      margin: 0 auto;
    }
    .humanFoodPic1{
      background-image: url(../img/restaurant/humanfood.png);
    }
    .humanFoodPic2{
      background-image: url(../img/restaurant/humanfood2.png);
    }
  }

  @media (max-width: 768px){
    .human-down{
      .humanFoodPic1{
        background-image: url(../img/restaurant/humanfood.png);
        background-size: contain;
        margin: 0 auto;
      }
      .humanFoodPic2{
        background-image: url(../img/restaurant/humanfood2.png);
        background-size: contain;
        margin: 0 auto;
      }
    }
  }

  //菜單上方文字
  .human-up{
    margin-top: 100px;
    margin-bottom: 100px;
    // background-color: rgba(255,255,255,.3);
    border-radius: 30px;
    padding: 20px;
    h4{
      cursor: pointer;
      padding-left: 30px;
      transition: .2s;
      text-align: left;
      &:hover{
        color:#4DAA57
      }
    }
  }
  button{
    font-size: 16px;
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 30px;
    margin-bottom: 20px;
    transition: .5s;
    cursor: pointer;
    margin-top: 20px;
    background-color: #fff;
    &:hover{
      background-color: $colorOrange;
      color: white;
    }
    &:active{
      background-color: #FFFFFF;
      color:black;
    }
  }
}


// 右邊結帳區
.human{
  .foodmenu{
    height:100%;
    text-align: center;
    background-color: #F2F2F2;
    border-radius: 30px;
    padding: 30px;
    border: 2px solid #eee;
    box-sizing: border-box;
    height: 690px;
    overflow-y: auto;
    ul{
      margin-top: 20px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      li{
        flex-basis: 1px;
        flex-grow: 1;
      }
    }
  }
}

@media (max-width: 576px){
  .human{
    .foodmenu{
      ul{
        li{
          button{
            width: 30px;
            height: 30px;
            margin-top: 20px;
            background-color: #fff;
            &:hover{
              background-color: $colorOrange;
            }
          }
          &:first-child, &:last-child{
            flex-basis: 55px;
          }
        }
      }
    }
  }
}

// 所有菜單的文字
ol li:not(:first-child){
  margin-top: 50px;
}

// 人類菜單文字下移
.human-up{
  padding-top: 30px;
}
// 人類菜單圖片上移
.human-down{
  transform: translateY(-80px);
}

// slicker 關閉預設的隱藏
.slick-list{
  overflow: visible;
}
// 更改slicker dot樣式
.slick-dots{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 460px;
    left: 0;
    right: 0;
    margin: 0 auto;
  button{
    display: inline-block;
    width: 30px;
    height: 3px;
    opacity: 0.8;
    border-radius: 2px;
    margin: 0 6px;
    font-size: 0;
  }
  & .slick-active button{
    background-color: $colorYellow;
  }
}

@media (max-width: 1200px){
  .slick-dots{
    position: absolute;
    top: 55vw;
    left: 0;
    right: 0;
    margin: 0 auto;
}
}

@media (max-width: 768px){
  .slick-dots{
    position: absolute;
    top: 52vw;
    left: 0;
    right: 0;
    margin: 0 auto;
} 
}

@media (max-width: 576px){
  .slick-dots{
    position: absolute;
    top: 50vw;
    left: 0;
    right: 0;
    margin: 0 auto;
} 
}

