

.cursor {
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-image: url("../img/common/paw.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    pointer-events: none;
    z-index: 2000;
    @include mobile{
        display: none;
    }
}

.cursor::after {
    content: "";
    position: absolute;
    border: 1px solid #915727;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
        width: 20px;
        height: 20px;

    }

    100% {
        opacity: 0;
        width: 40px;
        height: 40px;
        margin: 0 auto;
    }
}

footer {
    color: white;
    background-color: #915727;
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        color: white;
    }

    .i_footerWrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .i_footerLeft {
            display: flex;
            margin-top: 42px;
            text-align: center;
            @include pad {
                flex-direction: column;
            }

            .i_footerLeftColumn {
                &:not(:first-child) {
                    margin-left: 75px;
                    @include pad {
                        margin-left: 0;
                        margin-top: 30px;
                    }
                }
            }

            ul {
                li {
                    margin-top: 16px;
                }
            }
        }

        .i_divider {
            border-right: 1px dashed;
            margin: 36px 75px 0;
            @include pad {
                border-right: 0;
                margin: 50px 0 0;
                width: 100%;
                border-bottom: 1px dashed;
            }
        }

        .i_footerRight {

            margin-top: 42px;
            li {
                display: flex;
                @include pad {
                    flex-direction: column;
                }
                span:first-child {
                    @include pad {
                        display: block;
                        margin-bottom: 10px;
                    }

                }
            }
            li:not(:first-child) {
                margin-top: 21px;
            }
        }
    }

    .i_copyright {
        font-size: 9px;
        margin-top: 28px;
        margin-bottom: 32px;
        line-height: 1.5;
        text-align: center;
        width: 80%;
    }
}

.-none {
    display: none;
}
