.yu_wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 1999;
    justify-content: space-between;
    @include pad{
        justify-content: flex-end;
    }
    background-color: #FFC857;
    height: 87px;


    .i_logo {
        @include pad{
            display: none;
        }
        img {
            max-width: 62px;
            margin-left: 54px;
        }
    }

    .i_navigation {
        display: flex;
        height: 87px;
        overflow: hidden;
        @include pad{
            display: none;
        }

        li {
            display: flex;
            align-items: center;

            &:hover img {
                opacity: 1;
                transform: translateY(0px);
                transition: .4s;
            }

            img {
                max-width: 33px;
                margin-bottom: -15px;
                opacity: 0;
                transition: .4s;
                transform: translateY(30px);
            }

            a {
                color: #734b23;
                display: flex;
                align-items: center;
            }
        }

        li:not(:first-child) {
            margin-left: 60px;
        }

        li.active a {
            font-weight: bold;
            color: white;
        }

        li.active img {
            opacity: 1;
        }
    }

    .i_accountShopping {
        display: flex;
        margin-right: 54px;

        span {
            font-size: 30px;
            color: #734b23;

            &:last-child {
                margin-left: 20px;
            }
        }
    }

    nav {
        position: fixed;
        top: 0;
        left: 5px;
        z-index: 20;
        display: none;
        @include pad{
            display: block;
        }
        .toggler {
            position: absolute;
            top: 10px;
            left: 5px;
            z-index: 30;
            cursor: pointer;
            width: 50px;
            height: 50px;
            opacity: 0;

            &:checked+.hamburger>div {
                transform: rotate(135deg);
            }

            &:checked+.hamburger>div:before,
            &:checked+.hamburger>div:after {
                top: 0;
                transform: rotate(90deg);
            }

            /* On Hover */
            &:checked:hover+.hamburger>div {
                transform: rotate(225deg);
            }

            /* Show Menu */
            &:checked~.menu {
                visibility: visible;
            }

            &:checked~.menu>div {
                transform: scale(1);
                transition-duration: 0.75s;
            }

            &:checked~.menu>div>div {
                opacity: 1;
                transition: opacity 0.5s ease 0.5s;
            }
        }
        .menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            visibility: hidden;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
    
            >div {
                background: #ffc857;
                border-radius: 50%;
                width: 250vw;
                height: 250vw;
                display: flex;
                flex: none;
                align-items: center;
                justify-content: center;
                transform: scale(0);
                transition: all 0.5s ease;
                >div {
                    /* ==選單文字== */
                    text-align: center;
                    max-width: 50vw;
                    max-height: 100vh;
                    opacity: 0;
                    transition: opacity 0.5s ease;
                    >ul {
                        margin-top: 1em;
                        >li {
                            color: #734b23;
                            padding: 0.5em;
        
                            >a {
                                color: #734b23;
                                text-decoration: none;
                                transition: color 0.4s ease;
        
                                &:hover {
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
        .hamburger {
            position: absolute;
            top: 10px;
            left: 5px;
            z-index: 20;
            width: 60px;
            height: 60px;
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
    
            >div {
                position: relative;
                flex: none;
                width: 100%;
                height: 2px;
                background: #734B23;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.4s ease;
    
                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    z-index: 20;
                    top: -10px;
                    width: 100%;
                    height: 2px;
                    background: #734B23;
                }
    
                &::after {
                    top: 10px;
                }
            }
        }
    }
}

.m_header{
    position: absolute;
    right: 0;
    transition: 1s;
    top: 88px;
    z-index: 10;

    background-color:darken( rgba(186,212,135,.8) , 30%) ;
    width: 30vw;
    
    @include pad(){
        width: 60vw;   
    }

    @include mobile(){
        width: 70vw;
    }
    @include iphoneX(){
        width: 100vw;
    }

    padding: 30px 15px;
    text-align: center;
    
    h5{
        padding: 4% 0;
        font-size: 24px;
        
        
        img{
            width: 20px;
            display: inline;
            margin: 0 15px ;
            opacity: 0;
            
            
        }
        &:hover{
           background-color: #FFC857; 
           img{
            opacity: 1;
           } 
        }
    }

    div{
        margin: 0 0 15px ;

        //text-align: left;
        
        
        span{
            line-height: 80px;
            font-size: 24px;
            color: lighten( #FFC857, 10%);
        }
        img{
            display: inline;
            width: 80px;
            margin: 0 10px ;
            vertical-align: middle ;
            opacity: 1;
            :hover{
            opacity: 0.6;
            }
        }
        
    }
    .m_pets{
        display: flex;
        justify-content: center;
        //overflow-x: scroll;
    }

    .m_underline_1{
        margin-top: 10px;
        width: 80%;
        height: 1px;
        background-color: white;
        display: inline-block;
    }

    li{
        //text-align: left; 
        margin-bottom: 2px;
        padding: 4% 0;
        font-size: 24px;

        img{
            width: 20px;
            display: inline;
            margin: 0 15px ;
            opacity: 0;
        }
        &:hover{
           background-color: #FFC857; 
           img{
            opacity: 1;
           } 
        }
    }

    
    a{
        color: white;
    }

    input[type="button"]{
        font-size: 16px;
        width: 100px;
        height: 0px;
        padding: 6px 0 24px;
        box-sizing: content-box;
        border: none;
        outline: 0;
        border-radius: 30px;
        margin-bottom: 20px;
        transition: .5s;
        cursor: pointer;
        margin-top: 20px;
        background-color: #FFC857;
        &:hover{
          background-color: #f39800;
          color: white;
        }
    }
}

.m_toggle{
    right: -40vw;
    transition: .5s;
    z-index: -1;
    width: 0;
    opacity: 0;
    overflow: hidden;

    //display: none; //有點bug，先醬

    @include pad(){
        right: -80vw;
    }

    @include mobile(){
        right: -80vw;
    }

    @include iphoneX(){
        right: -100vw;

    }
}