header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FFC857;
  height: 87px;
  overflow: hidden;
}

header .i_logo img {
  max-width: 62px;
  margin-left: 54px;
}

header .i_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .i_navigation li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .i_navigation li:hover img {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: .4s;
  transition: .4s;
}

header .i_navigation li img {
  max-width: 33px;
  margin-bottom: -15px;
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

header .i_navigation li a {
  color: #734b23;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .i_navigation li:not(:first-child) {
  margin-left: 60px;
}

header .i_navigation li.i_click a {
  font-weight: bold;
  color: white;
}

header .i_navigation li.i_click img {
  opacity: 1;
}

header .i_accountShopping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 54px;
}

header .i_accountShopping span {
  font-size: 30px;
  color: #734b23;
}

header .i_accountShopping span:last-child {
  margin-left: 20px;
}