@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC &display=swap");
h1 {
  font-size: 30px;
}

h2 {
  font-size: 27px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

h4 {
  font-size: 21px;
  font-weight: bold;
}

h5 {
  font-size: 21px;
}

p {
  font-size: 19px;
}

a {
  text-decoration: none;
}

.i_button {
  font-size: 16px;
  font-weight: bold;
}

img {
  width: 100%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}
