@charset "UTF-8";
@import url(base/reset.css);
h1 {
  font-size: 30px;
}

h2 {
  font-size: 27px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

h4 {
  font-size: 21px;
  font-weight: bold;
}

h5 {
  font-size: 21px;
}

p {
  font-size: 19px;
}

a {
  text-decoration: none;
}

.i_button {
  font-size: 16px;
  font-weight: bold;
}

img {
  width: 100%;
  display: block;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

.i_mealData_BK {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
}

.i_mealData_BK .i_mealData {
  max-width: 720px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  position: absolute;
  background-color: #D3E0BE;
  border-radius: 60px;
}

.i_mealData_BK .i_mealData .i_menu {
  position: relative;
  top: 500px;
  left: 55px;
}

@media (max-width: 1024px) {
  .i_mealData_BK .i_mealData .i_menu {
    top: 10px;
  }
}

.i_mealData_BK .i_mealData .i_menu p {
  font-size: 14px;
  color: #707070;
  font-weight: bold;
}

.i_mealData_BK .i_mealData .i_menu .i_orangeLine {
  border-top: 5px solid #FFC857;
  width: 40px;
  position: absolute;
  left: 10px;
  bottom: -8px;
}

.i_mealData_BK .i_mealData .i_closeButton img {
  top: 26px;
  right: 30px;
  width: 30px;
  position: absolute;
}

.i_mealData_BK .i_mealData .i_addMenuButton {
  position: absolute;
  bottom: 50px;
  right: 0;
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
  display: block;
  text-align: center;
  width: 86px;
  height: 36px;
  line-height: 36px;
  color: white;
  background-color: #F39800;
}

.i_mealData_BK .i_mealData .i_mealName {
  text-align: center;
  margin-top: 27px;
  margin-bottom: 20px;
}

.i_mealData_BK .i_mealData .i_mealMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (max-width: 1024px) {
  .i_mealData_BK .i_mealData .i_mealMain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.i_mealData_BK .i_mealData .i_mealMain .i_meal {
  white-space: nowrap;
  position: relative;
  margin: 100px 45px 65px 42px;
  color: #707070;
}

@media (max-width: 1024px) {
  .i_mealData_BK .i_mealData .i_mealMain .i_meal {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 30px 45px 65px 42px;
  }
}

.i_mealData_BK .i_mealData .i_mealMain .i_meal .i_orangeLine {
  border-top: 5px solid #FFC857;
  width: 40px;
  position: absolute;
  left: -20px;
  bottom: -8px;
}

.i_mealData_BK .i_mealData .i_mealMain .i_mealDataContent {
  margin-top: 24px;
  margin-right: 85px;
  line-height: 1.7;
}

@media (max-width: 1024px) {
  .i_mealData_BK .i_mealData .i_mealMain .i_mealDataContent {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 85px;
  }
}

@media (max-width: 375px) {
  .i_mealData_BK .i_mealData .i_mealMain .i_mealDataContent {
    margin-left: 50px;
    margin-right: 50px;
  }
}

.i_reservation_BK {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
}

.i_reservation_BK .i_reservationData {
  max-width: 720px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  position: absolute;
  background-color: #D3E0BE;
  border-radius: 60px;
}

.i_reservation_BK .i_reservationData .i_closeButton img {
  top: 26px;
  right: 30px;
  width: 30px;
  position: absolute;
}

.i_reservation_BK .i_reservationData .i_reservationTitle {
  text-align: center;
  margin-top: 27px;
  margin-bottom: 20px;
}

.i_reservation_BK .i_reservationData .i_reservationContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.i_reservation_BK .i_reservationData .i_reservationContent .i_calendar {
  width: 267px;
  height: 267px;
  background-color: white;
}

.i_reservation_BK .i_reservationData .i_reservationContent .i_people {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFC857;
}

.i_reservation_BK .i_reservationData .i_reservationContent .i_pets {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFC857;
}

.i_shoppingList_BK {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
}

.i_shoppingList_BK .i_shoppingList {
  max-width: 720px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  position: absolute;
  background-color: #D3E0BE;
  border-radius: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.i_shoppingList_BK .i_shoppingList .i_closeButton img {
  top: 26px;
  right: 30px;
  width: 30px;
  position: absolute;
}

.i_shoppingList_BK .i_shoppingList .i_shoppingListContent {
  width: 80%;
}

.i_shoppingList_BK .i_shoppingList .i_shoppingListContent .i_shoppingListTitle {
  text-align: center;
  margin-top: 27px;
  margin-bottom: 20px;
}

.i_shoppingList_BK .i_shoppingList .i_shoppingListContent section table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.i_shoppingList_BK .i_shoppingList .i_shoppingListContent section table tr:not(:first-child) {
  margin-top: 30px;
}

.i_shoppingList_BK .i_shoppingList .i_shoppingListContent section table tr td:nth-child(2) {
  margin-left: 30px;
}

.i_shoppingList_BK .i_shoppingList .i_shoppingListContent section table tr td:nth-child(3) {
  margin-left: 30px;
  width: 100px;
  text-align: center;
  color: #707070;
}

.i_shoppingList_BK .i_shoppingList .i_shoppingListContent section table tr td:nth-child(4) {
  margin-left: 30px;
}

.i_shoppingList_BK .i_shoppingList .i_shoppingListContent section table tr td:nth-child(4) i:first-child {
  margin-right: 15px;
}

.i_shoppingList_BK .i_shoppingList .i_shoppingListContent section table tr td:nth-child(4) i:last-child {
  margin-left: 15px;
}

.i_shoppingList_BK .i_shoppingList .i_shoppingListContent section table tr td:last-child {
  margin-left: 30px;
  color: #707070;
}

.i_shoppingList_BK .i_shoppingList .i_shoppingListContent section table tr td img {
  width: 168px;
  height: 108px;
}

.i_shoppingList_BK .i_shoppingList .i_shoppingListContent section table tr td input {
  color: #707070;
  outline: none;
  border: 0;
  width: 30px;
  text-align: center;
  cursor: default;
  font-size: 16px;
  background-color: transparent;
}

.i_shoppingList_BK .i_shoppingList .i_shoppingListContent hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.i_shoppingList_BK .i_shoppingList .i_shoppingListContent .i_total {
  text-align: right;
}

.i_shoppingList_BK .i_shoppingList .i_shoppingListContent .i_total h3 {
  color: #707070;
}

.i_shoppingList_BK .button {
  background-color: #FFC857;
  width: 171px;
  height: 53px;
  margin-top: 40px;
  margin-bottom: 40px;
  line-height: 53px;
  border-radius: 60px;
  text-align: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FFC857;
  height: 87px;
  overflow: hidden;
}

@media (max-width: 1024px) {
  header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
  }
}

@media (max-width: 1024px) {
  header .i_logo {
    display: none;
  }
}

header .i_logo img {
  max-width: 62px;
  margin-left: 54px;
}

header .i_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  header .i_navigation {
    display: none;
  }
}

header .i_navigation li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .i_navigation li:hover img {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: .4s;
  transition: .4s;
}

header .i_navigation li img {
  max-width: 33px;
  margin-bottom: -15px;
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

header .i_navigation li a {
  color: #734b23;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .i_navigation li:not(:first-child) {
  margin-left: 60px;
}

header .i_navigation li.i_click a {
  font-weight: bold;
  color: white;
}

header .i_navigation li.i_click img {
  opacity: 1;
}

header .i_accountShopping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 54px;
}

header .i_accountShopping span {
  font-size: 30px;
  color: #734b23;
}

header .i_accountShopping span:last-child {
  margin-left: 20px;
}

header nav {
  position: fixed;
  top: 0;
  left: 5px;
  z-index: 2;
  display: none;
}

@media (max-width: 1024px) {
  header nav {
    display: block;
  }
}

header nav .toggler {
  position: absolute;
  top: 10px;
  left: 5px;
  z-index: 3;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
  /* On Hover */
  /* Show Menu */
}

header nav .toggler:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

header nav .toggler:checked + .hamburger > div:before,
header nav .toggler:checked + .hamburger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

header nav .toggler:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

header nav .toggler:checked ~ .menu {
  visibility: visible;
}

header nav .toggler:checked ~ .menu > div {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 0.75s;
          transition-duration: 0.75s;
}

header nav .toggler:checked ~ .menu > div > div {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease 0.5s;
  transition: opacity 0.5s ease 0.5s;
}

header nav .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav .menu > div {
  background: #ffc857;
  border-radius: 50%;
  width: 250vw;
  height: 250vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

header nav .menu > div > div {
  /* ==選單文字== */
  text-align: center;
  max-width: 50vw;
  max-height: 100vh;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

header nav .menu > div > div > ul {
  margin-top: 1em;
}

header nav .menu > div > div > ul > li {
  color: #734b23;
  padding: 0.5em;
}

header nav .menu > div > div > ul > li > a {
  color: #734b23;
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

header nav .menu > div > div > ul > li > a:hover {
  color: white;
}

header nav .hamburger {
  position: absolute;
  top: 0;
  left: 5px;
  z-index: 2;
  width: 30px;
  height: 60px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav .hamburger > div {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 100%;
  height: 2px;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

header nav .hamburger > div::before, header nav .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: -10px;
  width: 100%;
  height: 2px;
  background: black;
}

header nav .hamburger > div::after {
  top: 10px;
}

footer {
  color: white;
  background-color: #915727;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer a {
  color: white;
}

footer .i_footerWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .i_footerWrapper .i_footerLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 42px;
  text-align: center;
}

@media (max-width: 1024px) {
  footer .i_footerWrapper .i_footerLeft {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 375px) {
  footer .i_footerWrapper .i_footerLeft {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .i_footerWrapper .i_footerLeft .i_footerLeftColumn:not(:first-child) {
  margin-left: 75px;
}

@media (max-width: 1024px) {
  footer .i_footerWrapper .i_footerLeft .i_footerLeftColumn:not(:first-child) {
    margin-left: 0;
    margin-top: 30px;
  }
}

footer .i_footerWrapper .i_footerLeft ul li {
  margin-top: 16px;
}

footer .i_footerWrapper .i_divider {
  border-right: 1px dashed;
  margin: 36px 75px 0;
}

@media (max-width: 1024px) {
  footer .i_footerWrapper .i_divider {
    border-right: 0;
    margin: 50px 0 0 0;
    width: 100%;
    border-bottom: 1px dashed;
  }
}

footer .i_footerWrapper .i_footerRight {
  margin-top: 42px;
}

footer .i_footerWrapper .i_footerRight li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  footer .i_footerWrapper .i_footerRight li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1024px) {
  footer .i_footerWrapper .i_footerRight li span:first-child {
    display: block;
    margin-bottom: 10px;
  }
}

footer .i_footerWrapper .i_footerRight li:not(:first-child) {
  margin-top: 21px;
}

footer .i_copyright {
  font-size: 9px;
  margin-top: 28px;
  margin-bottom: 32px;
  line-height: 1.5;
  text-align: center;
}

.-none {
  display: none;
}

#news h3 {
  margin-top: 42px;
  margin-bottom: 27px;
  color: #915727;
  text-align: center;
}

#news ul {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#news ul li {
  width: 250px;
  position: relative;
}

#news ul li:not(:first-child) {
  margin-left: 34px;
}

#news ul li img {
  width: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

#news ul li div {
  position: absolute;
  bottom: 0px;
  border: 1px solid black;
  overflow: auto;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  padding: 15px 20px 20px 20px;
  height: 161px;
  line-height: 2;
}

.hotelPanorama h3 {
  margin-top: 60px;
  margin-bottom: 28px;
  color: #915727;
  text-align: center;
}

.hotelPanorama #panorama {
  width: 100%;
  height: 800px;
}

.hotelPanorama #panorama #controls {
  position: absolute;
  bottom: 0;
  z-index: 2;
  text-align: center;
  width: 100%;
  padding-bottom: 3px;
}

.hotelPanorama #panorama #controls .ctrl {
  padding: 8px 5px;
  width: 30px;
  text-align: center;
  background: rgba(255, 200, 87, 0.8);
  color: white;
  display: inline-block;
  cursor: pointer;
}

.hotelPanorama #panorama #controls .ctrl:hover {
  background: #ffc857;
}

#location {
  background-image: url("../img/index/map.png");
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #558b6e;
  padding-bottom: 60px;
  overflow: hidden;
}

#location h3 {
  margin-top: 105px;
  margin-bottom: 30px;
  color: #915727;
  text-align: center;
}

#location iframe {
  width: 657px;
  height: 423px;
  margin-bottom: 33px;
  border: 5px solid #558b6e;
  border-radius: 60px;
}

#location .locationContent {
  max-width: 468px;
  width: 100%;
}

#location .locationInfo:nth-child(2) {
  margin-top: 25px;
}

#location .locationInfo:last-child {
  margin-top: 50px;
}

#location .locationInfo .locationInfoTitle {
  background-color: #ffc857;
  border-radius: 30px;
  padding: 5px;
  color: black;
  margin-right: 10px;
}

#location .locationInfo ul li {
  line-height: 2;
}

#location .locationInfo ul li span {
  display: block;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

#location .locationInfo ul li span:first-child {
  margin-top: 15px;
}
/*# sourceMappingURL=style.css.map */