header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include pad{
        justify-content: flex-end;
        width: 100vw;
        position: fixed;
        top:0;
        left: 0;
        z-index: 10;
    }
    background-color: #FFC857;
    height: 87px;
    overflow: hidden;

    .i_logo {
        @include pad{
            display: none;
        }
        img {
            max-width: 62px;
            margin-left: 54px;
        }
    }

    .i_navigation {
        display: flex;
        @include pad{
            display: none;
        }

        li {
            display: flex;
            align-items: center;

            &:hover img {
                opacity: 1;
                transform: translateY(0px);
                transition: .4s;
            }

            img {
                max-width: 33px;
                margin-bottom: -15px;
                opacity: 0;
                transform: translateY(30px);
            }

            a {
                color: #734b23;
                display: flex;
                align-items: center;

            }
        }

        li:not(:first-child) {
            margin-left: 60px;
        }

        li.active a {
            font-weight: bold;
            color: white;
        }

        // body.index & {
        //     body.index header .i_navigation
        // }

        li.active img {
            opacity: 1;
        }
    }

    .i_accountShopping {
        display: flex;
        margin-right: 54px;

        span {
            font-size: 30px;
            color: #734b23;

            &:last-child {
                margin-left: 20px;
            }
        }
    }

    nav {
        position: fixed;
        top: 0;
        left: 5px;
        z-index: 2;
        display: none;
        @include pad{
            display: block;
        }
        .toggler {
            position: absolute;
            top: 10px;
            left: 5px;
            z-index: 3;
            cursor: pointer;
            width: 50px;
            height: 50px;
            opacity: 0;

            &:checked+.hamburger>div {
                transform: rotate(135deg);
            }

            &:checked+.hamburger>div:before,
            &:checked+.hamburger>div:after {
                top: 0;
                transform: rotate(90deg);
            }

            /* On Hover */
            &:checked:hover+.hamburger>div {
                transform: rotate(225deg);
            }

            /* Show Menu */
            &:checked~.menu {
                visibility: visible;
            }

            &:checked~.menu>div {
                transform: scale(1);
                transition-duration: 0.75s;
            }

            &:checked~.menu>div>div {
                opacity: 1;
                transition: opacity 0.5s ease 0.5s;
            }
        }
        .menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            visibility: hidden;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
    
            >div {
                background: #ffc857;
                border-radius: 50%;
                width: 250vw;
                height: 250vw;
                display: flex;
                flex: none;
                align-items: center;
                justify-content: center;
                transform: scale(0);
                transition: all 0.5s ease;
                >div {
                    /* ==選單文字== */
                    text-align: center;
                    max-width: 50vw;
                    max-height: 100vh;
                    opacity: 0;
                    transition: opacity 0.5s ease;
                    >ul {
                        margin-top: 1em;
                        >li {
                            color: #734b23;
                            padding: 0.5em;
        
                            >a {
                                color: #734b23;
                                text-decoration: none;
                                transition: color 0.4s ease;
        
                                &:hover {
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
        .hamburger {
            position: absolute;
            top: 10px;
            left: 5px;
            z-index: 2;
            width: 60px;
            height: 60px;
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
    
            >div {
                position: relative;
                flex: none;
                width: 100%;
                height: 2px;
                background: #734B23;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.4s ease;
    
                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    z-index: 2;
                    top: -10px;
                    width: 100%;
                    height: 2px;
                    background: #734B23;
                }
    
                &::after {
                    top: 10px;
                }
            }
        }
    }
}