@import url('reset.css');

@media (min-width:375px)and(max-width:767px) {

  body {
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;

    .s_wrapper {
      width: 100vw;
      margin: 0 auto;

      header img {
        display: block;
        width: 100vw;
      }

      main {
        width: calc(100% - 50px);
        margin: 0 auto;

        .s_ph {
          padding-top: 30px;

          .s_big_ph {

            img {
              display: none;
            }

            .img_pad {
              display: block;
              width: 100%;
              margin-bottom: 15px;
            }
          }

          .s_small_ph {

            img {
              margin-bottom: 15px;
              display: block;
              width: 100%;
            }
          }
        }

        .s_text {
          margin-bottom: 15px;

          h3 {
            font-size: 30px;
            font-weight: 700;
            line-height: 36px;
            color: #707070;
          }

          span {
            font-size: 20px;
            line-height: 32px;
            font-weight: 400;
            text-align: end;
            color: #707070;
          }

          p {
            font-size: 20px;
            line-height: 32px;
            color: #707070;
          }

          .s_button {
            display: flex;
            padding: 20px 0;

            .s_buy {
              font-size: 30px;
              width: 150px;
              height: 55px;
              border-radius: 50px;
              border: 0px;
              margin-right: 10px;
            }

            .s_buy:hover {
              background-color: #f39800;
            }

            .s_back {
              font-size: 16px;
              text-align: center;
              width: 150px;
              height: 55px;
              border-radius: 50px;
              border: 0px;
            }

            .s_back:hover {
              background-color: #f39800;
            }
          }

        }

      }

      .s_Carousel {
        background-color: #d3e0be;
        padding-top: 15px;
        padding-left: 30px;
        padding-bottom: 15px;

        h3 {
          font-size: 30px;
          font-weight: 700;
          line-height: 36px;
          color: #707070;
          padding-bottom: 15px;
        }

        .s_others {
          display: flex;
          overflow: hidden;

          img {
            display: block;
            width: 80%;
            margin-right: 15px;
            margin-bottom: 15px;
            flex-wrap: nowrap;
          }
        }

      }

      footer img {
        display: block;
        width: 100vw;
      }
    }
  }
}