<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @@include('layout/style.html')
    <title>clinic_index</title>
</head>
<body>
    <div id='app'>
        @@include('layout/header.html') 
        <div class="c_banner">
            <img src="./img/clinic/rough_clinic-01@2x.png" >
        </div>
        <div class="c_nav">
            <ul>
                <li v-for='nav in navs'><a :href='nav.url'>{{nav.title}}</a></li>
            </ul>
        </div>
        <div class="c_content">
            <div class="c_left_content">
                <img src="./img/clinic/dog@2x.png">
            </div>
            <div class="c_right_content">
                <div class="c_right_content_t1" v-for='content in contents'>
                    <h3>{{content.title}}</h3>
                    <p>{{content.text}}</p>
                </div>
               
            </div>
        </div>

        @@include('layout/footer.html')
    </div>
    <script src="./vendors/vue/js/vue.js"></script>
    <script src="./js/clinic_index.js"></script>
</body>
</html>