<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <!-- 月曆 -->
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="vendors/travo-calendar/css/tavo-calendar.css" />
  <!-- 捲軸 -->
  <link rel="stylesheet" href="https://cdn.staticfile.org/simplebar/5.2.1/simplebar.min.css" />
  <title>clinic_check</title>
  @@include('layout/style.html')
</head>

<body class="check">
  @@include('layout/header.html')

  <div class="c_wrapper" id="app">

    <!-- 毛孩健檢 -->
    <div class="i_banner">
      <div class="i_banner_left"><img src="img/clinic/headerTree2.png" alt=""></div>
      <div class="i_banner_center">
        <img class="i_clinic_center_left" src="img/clinic/header_C_left.png" alt="">
        <h1><span>毛孩</span>健檢</h1>
        <img class="i_clinic_center_right" src="img/clinic/header_C_right.png" alt="">
      </div>
      <div class="i_banner_right"><img src="img/clinic/headerTree1.png" alt=""></div>
    </div>

    <div div class="check_main" id="check_main">

      <!-- 套餐 -->
      <!-- 套餐1. -->
      <div class="c_set" id="c_set1">
        <div class="c_set_title">
          <img src="./img/clinic/checkdog@2x.png" class="mask_dog">
          <h4>{{fast}}<br>4000元</h4>
          <img src="./img/clinic/maskcat@2x.png" class="mask_cat">
        </div>
        <div class="c_set_content">
          <ul v-for="(item, id) in fastTest">
            <li class="alpha">{{item.HEALTH_CHECK_ID}}</li>
            <li class="item">{{item.LISTNAME}}</li>
          </ul>
        </div>
        <div class="addMenu">
          <button @click="fastSelected" id="A1001" class="addButton">加入</button>
        </div>
      </div>
      <!-- 套餐2 -->
      <div class="c_set" id="c_set2">
        <div class="c_set_title">
          <img src="./img/clinic/checkdog@2x.png" class="mask_dog">
          <h4>{{advanced}}<br>9500元<span>(包含01-08項)</span></h4>
          <img src="./img/clinic/maskcat@2x.png" class="mask_cat">
        </div>
        <div class="c_set_content">
          <ul v-for="(item, id) in advancedTest">
            <li class="alpha">{{item.HEALTH_CHECK_ID}}</li>
            <li class="item">{{item.LISTNAME}}</li>
          </ul>
        </div>
        <div class="addMenu">
          <button @click="advancedSelected" id="A1002" class="addButton">加入
        </div>
      </div>
      <!-- 套餐3. -->
      <div class="c_set" id="c_set3">
        <div class="c_set_title">
          <img src="./img/clinic/checkdog@2x.png" class="mask_dog">
          <h4>{{elder}}<br>17000元<span>(包含01-16項)</span></h4>
          <img src="./img/clinic/maskcat@2x.png" class="mask_cat">
        </div>

        <div class="c_set_content">
          <ul v-for="(item, id) in elderTest">
            <li class="alpha">{{item.HEALTH_CHECK_ID}}</li>
            <li class="item">{{item.LISTNAME}}</li>
          </ul>
        </div>
        <div class="addMenu">
          <button @click="elderSelected" id="A1003" class="addButton">加入
        </div>
      </div>
      <!-- 加價購 -->
      <div class="c_plus">
        <div class="c_plus_title">
          <img src="./img/clinic/checkplus@2x.png">
          <h4>加價購&nbsp;<span>(最多可選2項)</span></h4>
        </div>
        <p>下列項目任選可享9折加價購</p>
        <div class="c_plus_content">
          <ul id="plus25" v-for="(item, id) in customTest">
            <li class="alpha">{{item.HEALTH_CHECK_ID}}</li>
            <li class="item">{{item.LISTNAME}}</li>
            <li class="cost">{{item.PRICE}}元</li>
            <li> <img src="./img/clinic/plus@2x.png" class="plus_button" @click="pushItem(item)"></li>
          </ul>
        </div>
      </div>
      <!-- 訂單 -->
      <div class="clinic_order">
        <!-- <h3>您選擇的健檢項目</h3> -->
        <div class="set" id="newSet">
          <div class="c_set_content" v-if="choice == 'fast'">
            <div class="c_set" id="c_set1">
              <div class="c_set_title">
                <img src="./img/clinic/checkdog@2x.png" class="mask_dog">
                <h4>{{fast}}<br>4000元</h4>
                <img src="./img/clinic/maskcat@2x.png" class="mask_cat">
              </div>
              <div class="c_set_content">
                <ul v-for="(item, id) in fastTest">
                  <li class="alpha">{{item.HEALTH_CHECK_ID}}</li>
                  <li class="item">{{item.LISTNAME}}</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="c_set" id="c_set2" v-if="choice == 'advanced'">
            <div class="c_set_title">
              <img src="./img/clinic/checkdog@2x.png" class="mask_dog">
              <h4>{{advanced}}<br>9500元<span>(包含01-08項)</span></h4>
              <img src="./img/clinic/maskcat@2x.png" class="mask_cat">
            </div>
            <div class="c_set_content">
              <ul v-for="(item, id) in advancedTest">
                <li class="alpha">{{item.HEALTH_CHECK_ID}}</li>
                <li class="item">{{item.LISTNAME}}</li>
              </ul>
            </div>
          </div>

          <div class="c_set" id="c_set3" v-if="choice == 'elder'">
            <div class="c_set_title">
              <img src="./img/clinic/checkdog@2x.png" class="mask_dog">
              <h4>{{elder}}<br>17000元<span>(包含01-16項)</span></h4>
              <img src="./img/clinic/maskcat@2x.png" class="mask_cat">
            </div>

            <div class="c_set_content">
              <ul v-for="(item, id) in elderTest">
                <li class="alpha">{{item.HEALTH_CHECK_ID}}</li>
                <li class="item">{{item.LISTNAME}}</li>
              </ul>
            </div>
          </div>
        </div>

        <!-- <h4>加價購</h4> -->
        <div class="c_plus_1" id="plus_1">
          <div class="c_plus" v-for="(item,id) in customChoice" v-if="id==0">
            <div class="c_plus_content">
              <ul id="plus25">
                <li class="alpha">{{item.HEALTH_CHECK_ID}}</li>
                <li class="item">{{item.LISTNAME}}</li>
                <li class="cost" v-if="customChoice.length >= 2">{{item.PRICE*0.9}}元</li>
                <li class="cost" v-else>{{item.PRICE}}元</li>
            </div>
          </div>
        </div>

        <div class="c_plus_2" id="plus_2">
          <div class="c_plus" v-for="(item,id) in customChoice" v-if="id==1">
            <div class="c_plus_content">
              <ul id="plus25">
                <li class="alpha">{{item.HEALTH_CHECK_ID}}</li>
                <li class="item">{{item.LISTNAME}}</li>
                <li class="cost" v-if="customChoice.length >= 2">{{item.PRICE*0.9}}元</li>
                <li class="cost" v-else>{{item.PRICE}}元</li>
            </div>
          </div>
        </div>

        <h4 class="c_price">您選擇的健檢項目總價NT{{totalPrice | currency}}元</h4>
        <button @click="clearAll">重新選擇</button>
        <div>
          <!-- <input type="button" value="預約健檢" class="clinicBookingButton" @click="isBookingBoxOpen=true"> -->
          <button class="clinicBookingButton" @click="loginCheck">預約健檢</button>

        </div>
        <a href="clinic_index.html"><button class="back_clinic">回健檢首頁</button></a>
      </div>
    </div>
    <!-- 預約燈箱 -->
    <transition name="fade">
      <clinic-booking v-show="isBookingBoxOpen" @closelightbox="isBookingBoxOpen = false" :menuselect="selected"
        :custom="customChoice" :member="memberID"></clinic-booking>
    </transition>
  </div>
  <!-- app結尾 -->
  <!-- footer -->
  @@include('layout/footer.html')

  <!-- 預約健檢燈箱 -->
  <script type="text/x-template" id="clinicBox">
      <div class="i_background">
      <!-- style="display:none" -->
      <div class="i_lightbox_bk">
          <a href="#" class="i_closeButton" @click.prevent="closeBox">
              <img src="./img/common/close.png" alt="">
          </a>
          <div class="i_lightbox_title">
              <h2>預訂內容</h2>
          </div>
          <div class="bar">
          <div class="i_clinic">
              <div class="i_clinic_left">
                  <!-- 月曆 -->
                  <div id="my-calendar" class="i_calendar"></div>
                  <div class="i_petsname">
                      <span>請選擇寵物名字</span>
                      <select v-model="petsID" >
                          <option v-for="(item, index) in petsInfo" :value="item.PET_ID" :key="index">{{item.PET_NAME}}</option>
                      </select>
                  </div>
              </div>
              <div class="i_clinic_right">
                <p>健檢項目</p>
                <table>
                    <tr>
                      <td></td>
                      <td v-if="takeHEALTH_CHECK_ID === '8'">快速篩檢套餐</td>
                      <td v-if="takeHEALTH_CHECK_ID === '16'">進階健檢套餐</td>
                      <td v-if="takeHEALTH_CHECK_ID === '24'">熟齡健檢套餐</td>
                      <td v-if="takeHEALTH_CHECK_ID === '8'">NT 4,000元</td>
                      <td v-if="takeHEALTH_CHECK_ID === '16'">NT 9,500元</td>
                      <td v-if="takeHEALTH_CHECK_ID === '24'">NT 17,000元</td>
                    </tr>
                    <tr v-for="(item, index) in priceFilter" :key="index">
                        <td></td>
                        <td>{{item.LISTNAME}}</td>
                        <td class="cost">NT{{item.PRICE | currency}}元</td>
                    </tr>
                </table>
                <hr>
                <div class="i_total">
                    <h3>總價 NT{{totalPrice1+totalPrice2}}元</h3>
                </div>
                <button type="button" class="i_button" @click="booking">確認預約</button>
            </div>
          </div>
      </div>
      </div>
    </div>
  </script>


<script src="js/check_vue.js"></script>

</body>

</html>