<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.css" />
  <link rel="stylesheet" type="text/css" href="vendors/swiper/css/swiper-bundle.css" />
  @@include('layout/style.html')
  <title>Love Pet</title>
</head>

<body class="index">
  @@include('layout/header.html')
  <div id="app">
    <section class="mobile">
      <div class="container">
        <img class="logo" src="img/index/7.png" alt="">
        <div class="carousel">
          <input type="radio" name="slides" checked="checked" id="slide-1">
          <input type="radio" name="slides" id="slide-2">
          <input type="radio" name="slides" id="slide-3">
          <input type="radio" name="slides" id="slide-4">
          <input type="radio" name="slides" id="slide-5">
          <input type="radio" name="slides" id="slide-6">
          <ul class="carousel__slides">
            <li class="carousel__slide">
              <figure>
                <div>
                  <img src="img/index/m1.png" alt="">
                </div>
                <figcaption v-html="contents[0].intro"></figcaption>
              </figure>
            </li>
            <li class="carousel__slide">
              <figure>
                <div>
                  <img src="img/index/m4.png" alt="">
                </div>
                <figcaption v-html="contents[3].intro"></figcaption>
              </figure>
            </li>
            <li class="carousel__slide">
              <figure>
                <div>
                  <img src="img/index/m3.png" alt="">
                </div>
                <figcaption v-html="contents[2].intro"></figcaption>
              </figure>
            </li>

            <li class="carousel__slide">
              <figure>
                <div>
                  <img src="img/index/m6.png" alt="">
                </div>
                <figcaption>依照不同房型，可以根據毛孩種類或您的喜好，來選擇適合的房間布局，提供您像家一樣的歸屬感。</figcaption>
              </figure>
            </li>
            <li class="carousel__slide">
              <figure>
                <div>
                  <img src="img/index/m2.png" alt="">
                </div>
                <figcaption v-html="contents[1].intro"></figcaption>
              </figure>
            </li>
            <li class="carousel__slide">
              <figure>
                <div>
                  <img src="img/index/m5.png" alt="">
                </div>
                <figcaption>配合不同年齡層的毛孩，檢查項目便有所區別，挑選適用的套餐，讓您的毛孩健康每一天！</figcaption>
              </figure>
            </li>
          </ul>
          <ul class="carousel__thumbnails">
            <li>
              <label for="slide-1"><img src="img/index/m1.png" alt=""></label>
            </li>
            <li>
              <label for="slide-2"><img src="img/index/m4.png" alt=""></label>
            </li>
            <li>
              <label for="slide-3"><img src="img/index/m3.png" alt=""></label>
            </li>
            <li>
              <label for="slide-4"><img src="img/index/m6.png" alt=""></label>
            </li>
            <li>
              <label for="slide-5"><img src="img/index/m2.png" alt=""></label>
            </li>
            <li>
              <label for="slide-6"><img src="img/index/m5.png" alt=""></label>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <div class="green">
      <section class="animate">
        <img v-for="background in backgrounds" :class="background.imgclass" :src="background.imgURL" alt="">
        <div v-for="content in contents" :class="content.divclass">
          <p :class="content.pclass" v-html="content.intro"></p>
        </div>
        <div class="scroll-down">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <img src="./img/index/final_logo.png" alt="">
      </section>
    </div>
    <section id="news">
      <h3>最新消息</h3>
      <div class="swiper-container mySwiper">
        <ul class="news swiper-wrapper">
          <li v-cloak v-for="latest in news" class="swiper-slide">
            <img :src="latest.NEWS_IMG" alt="" />
            <div class="news-bg">
              <h4>{{latest.NEWS_TITLE}}</h4>
              <div class="news-content">{{latest.NEWS_CONTENT}}</div>
            </div>
          </li>
        </ul>
        <div class="swiper-pagination"></div>
      </div>
    </section>
    <section class="hotelPanorama">
      <h3>飯店環景介紹</h3>
      <div id="panorama">
        <div id="controls">
          <div v-for="ctl in panorama" class="ctrl" :id="ctl.ctrlid">
            <i :class="ctl.iclass" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </section>
    <section id="location">
      <h3>交通資訊</h3>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.467687045387!2d121.54106421537914!3d25.052132843717526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abddfb12794f%3A0x71c40951a2fc40fe!2zMTA0OTHlj7DljJfluILkuK3lsbHljYDljZfkuqzmnbHot6_kuInmrrUyMTnomZ8!5e0!3m2!1szh-TW!2stw!4v1619866304308!5m2!1szh-TW!2stw"
        allowfullscreen="" loading="lazy"></iframe>
      <ul class="locationContent">
        <li class="locationInfo">
          <span class="locationInfoTitle">渡假村地址</span>台北市中山區南京東路三段219號
        </li>
        <li class="locationInfo">
          <span class="locationInfoTitle">交通資訊</span>
          <ul>
            <li>
              <span>自行開車</span>
              <ul>
                <li>※ 國道三號高速公路（北二高）龍潭交流道下5公里</li>
                <li>※ 國道一號高速公路（中山高）楊梅交流道下10公里</li>
                <li>※ 國道一號高速公路（五楊高架）校前路交流道（南下70公里處），往龍潭方向10公里
                </li>
              </ul>
            </li>
            <li>
              <span>搭乘鐵路</span>
              <ul>
                <li>※ 搭乘台鐵到達中壢火車站後再轉新竹客運5653</li>
                <li>
                  ※ 搭乘高鐵至桃園站（南下）或新竹站（北上）後再轉計程車
                </li>
                <li>
                  ※
                  搭乘桃園捷運至A21環北站，搭乘市區公車至中壢火車站後轉乘新竹客運5653
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="locationInfo">
          本渡假村定期實施公共區域消毒，各館皆提供酒精及乾洗手，入內需攜帶口罩，配合體溫檢測，讓我們一同維護健康的環境遊玩。
        </li>
      </ul>
    </section>
  </div>
  @@include('layout/footer.html')
  <!-- pannellum -->
  <script src="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.js"></script>
  <!-- Swiper -->
  <script src="vendors/swiper/js/swiper-bundle.min.js"></script>
  <!-- ScrollTrigger -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/ScrollTrigger.min.js"></script>
  <!-- Vue -->
  <script src="js/index_vue.js"></script>
  <!-- 購物車共用組件 -->
<script src="js/mall_vue.js"></script>
</body>

</html>