<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mall</title>
  @@include('layout/style.html')
</head>


<body class="mall">
  <!-- @@include('layout/mall_animate.html') -->
  <div id="forCart" class="wrapper" v-cloak>
    @@include('layout/header.html')
    <div class="banner">
      <img src="img/mall/rough_cart-01@2x.png" alt="">
    </div>

    <main>
      <!-- 選擇區塊 -->
      <div class="choose_button">
        <select name="" v-model="selected" @change="hideInput">
          <!-- 在select用v-model雙向綁定，會將當下綁定的value值給selected(這裡用於切換頁面)-->
          <!-- 用change事件進行判斷，若點擊搜尋顯示input輸入框時，切頁不會隱藏的狀況 -->
          <option v-for="option in options" :value="option.val">{{option.item}}</option>
          <!-- 用v-for將options的內容放到option中並渲染到畫面上，value為option的val，文字為option的item -->
        </select>

        <div class="search_btn">
          <img @click="showInput" v-if="this.selected &lt 2" src="img/mall/search@2x.png" alt="">
          <div class="input_block">
            <transition name="slide">
              <!--transition為Vue提供的動畫元件，name可自取名稱-->
              <input v-model.trim="input.text" v-if="this.clicked == true && this.selected &lt 2" type="text"
                placeholder="請輸入商品名稱">
              <!-- input在this.clicked為true且this.selected小於3才顯示(必須點擊而且是用品食品服飾頁才顯示) -->
            </transition>
          </div>
          <!-- 搜尋圖示點擊後執行showInput函式，且在this.selected < 3才顯示圖示(只在用品食品服飾頁顯示) -->
          <!-- &lt為小於符號，在HTML中直接用"<"會被當成標籤 -->
        </div>
      </div>


      <div class="another">
        <div v-if="this.selected == 0" class="test">
          @@include('./Supplies.html')
        </div>
        <div v-if="this.selected == 1" class="test">
          @@include('./s_Food.html')
        </div>
        <div v-if="this.selected == 2" class="test">
          @@include('./Simulation.html')
        </div>
        <div v-if="this.selected == 3" class="test">
          @@include('./Customized.html')
        </div>
      </div>
    </main>
  </div>
  @@include('layout/footer.html')
  <!-- 購物車共用組件 -->
  <script src="js/mall_vue.js"></script>
</body>

</html>