<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @@include('layout/style.html')
    <title>header</title>
</head>

<body>
    @@include('layout/header.html')
    <!-- =================================================側邊攔===================================================== -->
    <div class="m_wrapper" id='app'>
        <my-aside></my-aside>
        <!-- =================================================主要內容===================================================== -->
        <main>

            <!-- ------------------------------個人頭貼---------------------------------- -->
            <my-pic :picsrc='mymember[0].MEMBER_IMG'></my-pic>

            <!-- ------------------------------更換頭貼---------------------------------- -->
            <p style='text-align: right;
                      font-size: 19px;
                      color: gray;
                      padding: 3px 30px;'
                @click = "chgimg"
            >
                更換照片
            </p>

            <div id="m_sign_in_bk" class="i_background " :style="appearr">
                <form action="./php/back_end_API/M_chgimg.php" method="post" enctype="multipart/form-data"
                >
                <div class="i_lightbox_bk m_sign_wrap picc">
                  <a class="i_closeButton" >
                    <img src="./img/common/close.png" alt="" @click="closeblock">
                  </a>
                  <div class="i_lightbox_title">
                    <h2>更換照片</h2>
                  </div>
                  <div class="m_sign signIn">
                    <p style='padding-bottom: 20px;' >請選擇您要的大頭照檔案，放進框框內</p>
                    <input type="file" @change="selectedFile" name="file">

                    <!-- <p>{{image}}</p> -->
                    <p>
                        <img :src="image">
                    </p>
                        
                    <input type="submit"  value="更換照片"  >
                    
                  </div>
                </div>
                </form>
              </div>

            <!-- ------------------------------基本資料---------------------------------- -->
            <my-info :nickname='mymember[0].NICKNAME' :name='mymember[0].NAME' :account='mymember[0].ACCOUNT'
                :phone='mymember[0].PHONE' :addres='mymember[0].ADDRES' :mid='mymember[0].MEMBER_ID'></my-info>
            <!-- ------------------------------密碼設定---------------------------------- -->
            <my-password :pwd='mymember[0].PASSWORD' :mid='mymember[0].MEMBER_ID'></my-password>

            <!-- ------------------------------通知設定---------------------------------- -->

            <my-notice :getnews='mymember[0].SUBSCRIPTION' :delway='mymember[0].DELIEVERY_NOTICE'></my-notice>
         </main>
         
         <!-- <my-component :mmb='mymember' ></my-component> -->
    
        </div>

    @@include('layout/footer.html')
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <!-- vue -->
    <script src="./vendors/vue/js/vue.js"></script>
    <!-- 購物車共用組件 -->
    <script src="js/mall_vue.js"></script>
    <!-- <script src="./js/m_aside_contrl.js"></script> -->
    <!-- <script src="./js/m_member_people.js"></script> -->
    <script>

    //-- 個人專區
        // Vue.component('my-component',{
        //     template: `<h1 style="color:red;">測試內容</h1>`,
        //     props:['mmb'],
        //  });

        Vue.component('my-pic', {
            template: `<div>
                         <img  
                         :src="picsrc.includes('img')? picsrc : './img/member/Profile-Male-PNG.jpg' " alt="profile"  class="m_person_pic" id="m_pic2">
                        </div>`,
            props: ['picsrc'],
        });

        Vue.component('my-info', {
            template: `<section>
                        <h5>個人資料</h5>
                        <div class="m_underline_2"></div>

                        <form >
                            <ul class="personal_info">
                                <li>
                                    <label for="m_nickname2">&ensp;帳戶名稱</label>
                                    <input type="text" id="m_nickname2" placeholder="您的稱呼" v-model="nickname">
                                    <label for="m_nickname2"><img src="./img/member/edit_icon.png" alt="edit" style="width: 20px;"></label>
                                </li>
                                <li>
                                    <label for="username">*真實姓名</label>
                                    <input type="text" id="username" v-model="name" >
                                    <label for="username"><img src="./img/member/edit_icon.png" alt="edit" style="width: 20px;"></label>
                                </li>
                                <li>
                                    <label for="mail">*電子郵件</label>
                                    <input type="email" id="mail" v-model="account" >
                                    <img src="./img/member/edit_icon.png" alt="edit" style="opacity: 0; width: 20px;" >
                                </li>
                                <li>
                                    <label for="phone">*連絡電話</label>
                                    <input type="text" id="phone" v-model="phone" >
                                    <label for="phone"><img src="./img/member/edit_icon.png" alt="edit" style="width: 20px;"></label>
                                </li>
                                <li>
                                    <label for="address">*住家地址</label>
                                    <input type="text" id="address" class="m_address" v-model="addres" >
                                    <label for="address"><img src="./img/member/edit_icon.png" alt="edit" style="width: 20px;"></label>
                                </li>
                            </ul>

                        <input type="button" value="確認更改" class="m_btn" @click="chgperinfo" >
                        </form>
                    </section>`,
            props:['nickname','name','account','phone','addres','mid'],
            data(){
                return{ 
                };
            },
            methods:{
                chgperinfo(){   
                    //alert(this.oldpwd);
                    if (this.nickname == '' ||
                        this.name == '' ||
                        this.phone == '' ||
                        this.addres == '') {
                        alert('不能空白');
                    } else {

                        alert('OK');
                        let newp = this;
                        $.ajax({
                            type: "POST",
                            url: "./php/back_end_API/M_personUpdate.php",
                            data: {
                                NIC: newp.nickname,
                                NME: newp.name,
                                PHE: newp.phone,
                                ADS: newp.addres,
                                MID: newp.mid,
                            },
                            dataType: 'html'
                        }).done(function (data) {    //---載入成功

                            if (data) {
                                alert('資料更新成功!!');
                                //localStorage.setItem('m_datainfro', `{ "NICKNAME": "${newp.nickname}",}` ); //存入storage 
                            };

                        }).fail(function (jqXHR) {   //---載入失敗
                            alert("res為ID數據載入失敗: " + jqXHR.status);
                        });
                    }
                },
            },


        });

        Vue.component('my-password', {
            template: ` <section class="m_pwd_setting">
                            <h5>密碼設定</h5>
                            <div class="m_underline_2"></div>

                            <form >
                                
                                <ul>
                                    <li>
                                        <label for="old_pwd">*原始密碼</label>
                                        <input type="password" id="old_pwd" v-model="oldpwd" >
                                        
                                    </li>
                                    <li>
                                        <label for="new_pwd">*新設密碼</label>
                                        <input type="password" id="new_pwd" v-model="newpwd">
                                    </li>
                                    <li>
                                        <label for="chk_pwd">*再次確認</label>
                                        <input type="password" id="chk_pwd" v-model="chkpwd" >
                                    </li>
                                </ul>

                            <input type="button" value="確認更改" class="m_btn" @click="chgpassword" >
                            </form>
                        </section>`,
            props: ['pwd', 'mid'],
            data() {
                return {
                    oldpwd: '0000000000',
                    newpwd: '0000000000',
                    chkpwd: '0000000000',
                };
            },
            methods: {
                chgpassword() {   //--- 登出function
                    //alert(this.oldpwd);
                    if (this.oldpwd === this.pwd) {
                        alert('密碼一致，繼續下一步');
                        let newp = this;
                        if (newp.newpwd === newp.chkpwd) {
                            alert('變更密碼成功!');
                            //alert(newp.mid);
                            //alert(newp.newpwd);

                            $.ajax({
                                type: "POST",
                                url: "./php/back_end_API/M_pwdUpdate.php",
                                data: {
                                    MID: newp.mid,
                                    PWD: newp.newpwd,     //---透過 MID 去抓該筆會員資料
                                },
                                dataType: 'html'
                            }).done(function (data) {    //---載入成功
                                if (data) {
                                    alert('密碼更新成功!!');
                                    newp.oldpwd = '';
                                    newp.newpwd = '';
                                    newp.chkpwd = '';
                                };


                            }).fail(function (jqXHR) {   //---載入失敗
                                alert("res為ID數據載入失敗: " + jqXHR.status);
                            });

                        } else {
                            alert('新設密碼不一致，請確認!');
                            newp.newpwd = '';
                            newp.chkpwd = '';
                        }
                    } else {
                        alert('密碼不一致，請重新確認!');
                        this.oldpwd = '';
                        this.newpwd = '';
                        this.chkpwd = '';

                    }
                },
            },
        });

        Vue.component('my-notice', {
            template: ` <section class="m_info_option">
                            <h5>通知設定</h5>
                            <div class="m_underline_2"></div>

                            <form action="">
                            
                                <p>是否收到我們電子報</p>
                                <input type="radio" id="OK_getInfo" v-model="getinfo" value="1"  >
                                <label for="OK_getInfo">是&emsp;</label>
                                <input type="radio" id="NO_getInfo" v-model="getinfo" value="0"  >
                                <label for="NO_getInfo">否&emsp;</label>
                            
                                <br>  
                            
                                <p>購物貨到如何通知您</p>
                                <input type="checkbox" id="from_mail" v-model="chsdel" value="0">
                                <label for="from_mail">郵件</label>
                                <input type="checkbox" id="from_phone" v-model="chsdel" value="1">
                                <label for="from_phone">電話</label><br>
                            
                                
                            <input type="button" value="確認送出" class="m_btn" @click="chgperinfo" >
                            </form>
                    </section>`,
            data(){
                return{
                    getinfo:'1',
                    chsdel:[],
                }
            },
            created(){
                this.getinfo = this.getnews;
               if(this.delway == 1 ){
                   this.chsdel = ['1']
               }else if(this.delway == 2){
                   this.chsdel = ['0','1']
               }else{
                   this.chsdel = ['0']
               }
            },
            props:['getnews','delway'],
            computed:{
                switchdelievery(){
                    console.log(this.chsdel);
                    if( this.chsdel.includes('1') && this.chsdel.includes('0') ){
                        return 2;
                    }
                    if( this.chsdel.includes('1') ){
                        return 1 ;
                    }
                    if( this.chsdel.includes('0') ){
                        return 0 ;
                    }
                    if( !this.chsdel.includes('1') && !this.chsdel.includes('0') ){
                        return 404 ;
                    }
                },
            },
            methods:{
                chgperinfo(){  

                    if( this.switchdelievery == 404 ){
                        alert('請務必選擇一項貨到通知，謝謝');
                    }else{                     
                    let now = this ;
                    //console.log(now.switchdelievery);

                    $.ajax({
                        type : "POST",	
                        url : "./php/back_end_API/M_noticeUpdate.php",  
                        data : {  
                            GTF : now.getinfo,  
                            DEL : now.switchdelievery,
                        }, 
                        dataType : 'html' 
                        }).done(function(data){    //---載入成功

                        if( data ){ 
                            alert('資料更新成功!!'); 
                        };
                        
                        }).fail(function(jqXHR){   //---載入失敗
                        alert("res為ID數據載入失敗: " + jqXHR.status);
                        });

                    }
                
                },
            },
         });

        Vue.component('my-aside', {
            template:
                ` <aside>
                    <div>
                        <h5><a href="./member_index.html"><img src="./img/member/catlogo-8.png" alt=""><span>會員專區</span><img src="./img/member/catlogo-8.png" alt="" class="m_imgblock"></a></h5>
                        <div class="m_underline_1"></div>
                        <ul>
                            <li><a href="./member_people.html"><img src="./img/member/catlogo-8.png" alt=""><span>我的帳號</span><img src="./img/member/catlogo-8.png" alt="" class="m_imgblock"></a></li>
                            <li><a href="./member_pets.html"><img src="./img/member/catlogo-8.png" alt=""><span>我的寵物</span><img src="./img/member/catlogo-8.png" alt="" class="m_imgblock"></a></li>
                            <li><a href="./member_order_management.html"><img src="./img/member/catlogo-8.png" alt=""><span>訂單管理</span><img src="./img/member/catlogo-8.png" alt="" class="m_imgblock"></a></li>
                            <li class="m_little_li"><a href="./member_order_management.html"><img src="./img/member/catlogo-8.png" alt=""><span>已完成</span><img src="./img/member/catlogo-8.png" alt="" class="m_imgblock"></a></li>
                            <li class="m_little_li"><a href="./member_order_management.html"><img src="./img/member/catlogo-8.png" alt=""><span>未完成</span><img src="./img/member/catlogo-8.png" alt="" class="m_imgblock"></a></li>
                        </ul>
                        <input type="button" value="登 出" @click="mleave" >
                    </div>
                   </aside>`,
            data() {
                return {
                    mconfirm: '確認登出嗎?',
                };
            },
            methods: {
                mleave() {   //--- 登出function
                    if (confirm(this.mconfirm) == true) {
                        localStorage.clear();                            //清除local

                        $.ajax({                                         //清除session ID
                            method: "POST",
                            url: "./php/front_end_API/M_removesession_MID.php",
                            data: {},
                            dataType: "text",
                            success: function success(response) {
                                //alert(response);
                                //let m_header = document.querySelector('.m_header');
                                //m_header.classList.toggle('m_toggle');
                                window.location.href = "front_index.html";
                                //$('#m_header_control').attr('style','color:orange;');
                            },
                            error: function error(exception) {
                                alert("數據載入失敗: " + exception.status);
                            }
                        });

                    } else {

                    };
                },
            },
        });

        new Vue({
            el: '#app',
            data: {
                mymember:[],
                midata:null,
                image: '',
                inputfile: null,
                appearr:"display:none",

            },
            methods: {
                selectedFile(e){
                    let file = e.target.files[0]; //專用寫法，.files[0];  才能get到檔案 == let file = e.target.files.item(0);  (both JS語法)
                    
                    let readFile = new FileReader(); //先宣布型態，才能使用其屬性與方法
                    readFile.readAsDataURL(file);  //讀取內容的屬性  //連動發生內嵌外部內容事件
                    readFile.addEventListener('load',this.loadImage);  //內嵌外部內容需使用load事件

                    let inputfile = file;
                },
                loadImage(e){
                    this.image = e.target.result;    
                },
                closeblock(){
                    this.appearr = "display:none";
                },
                chgimg(){
                    let mychg = '確認更換照片嗎?';
                        if (confirm(mychg) == true) {
                            this.appearr = "display:block";
                        } else {
                        }
                },
                getmymemberdata(info){
                   let self = this;
                   this.midata = info;

                    $.ajax({
                        type : "POST",	
                        url : "./php/front_end_API/M_apr_memberpeople.php",  
                        data : {  
                            MID : info,            //---透過 MID 去抓該筆會員資料
                        }, 
                        dataType : 'html' 
                        }).done(function(data){    //---載入成功
                            //console.log(data);
                        self.mymember =  JSON.parse(data);
                        console.log(self.mymember);

                    }).fail(function (jqXHR) {   //---載入失敗
                        alert("res為ID數據載入失敗: " + jqXHR.status);
                    });

                },
            },
            created() {

                axios.post("php/front_end_API/M_getsession_MID.php").then((res) => {
                    this.getmymemberdata(res.data);
                });



            },

        });
    </script>
</body>

</html>