<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>restaurant</title>
  <!-- font awsome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <!-- bootstrap only grid-->
  <link rel="stylesheet" href="./vendors/bootstrap/CSS/bootstrap-grid.min.css">
  <!-- <link rel="stylesheet" href="./vendors/bootstrap/CSS/bootstrap-reboot.min.css"> -->
  <!-- slicker -->
  <link rel="stylesheet" type="text/css" href="./vendors/slick/css/slick.css" />
  <!-- 捲軸 -->
  <link rel="stylesheet" href="https://cdn.staticfile.org/simplebar/5.2.1/simplebar.min.css" />
  <!-- 日曆 -->
  <link rel="stylesheet" href="./vendors/travo-calendar/css/tavo-calendar.css">
  <link rel="stylesheet" href="./css/style.css">
  @@include('layout/style.html')
</head>

<body>
  @@include('layout/header.html')
  <div id="app">
    <div class="r_wrapper">
      <!-- 第一區 header -->
      <!-- 第二區 大圖 -->
      <div class="container-fluid mainPic">
        <img src="img/restaurant/mainpic.png" class="img-fluid">
      </div>


      <!--  第三區 三顆圓形 -->
      <div class="contain-fluid second">
        <div class="row">
          <div class="col-xl-4 col-md-4 col-sm-12">
            <div class="circle">
              <img class="circlePic" src="./img/restaurant/self_farming.svg" alt="">
            </div>
            <h3>在地生產</h3>
            <p>園區內的食用蔬菜，皆是我們在度假村內自己種植耕作的、肉食品也是採用自己飼養的動物，讓您吃得安心。</p>
          </div>
          <div class="col-xl-4 col-md-4 col-sm-12">
            <div class="circle">
              <img class="circlePic" src="./img/restaurant/eco.svg" alt="">
            </div>
            <h3>環保概念</h3>
            <p>因為自產自銷，所以減少食材運輸往來CO2排放，並且大量使用FSC紙張，讓商品更加環保，與大自然更親近。</p>
          </div>
          <div class="col-xl-4 col-md-4 col-sm-12">
            <div class="circle">
              <img class="circlePic" src="./img/restaurant/naturalFood.svg" alt="">
            </div>
            <h3>天然食材</h3>
            <p>園區內所使用的食物堅持不含防腐劑及化學添加，讓您與毛孩吃得到真食物，並獲得飽足感與健康。</p>
          </div>
        </div>
      </div>



      <!--第四區 環境介紹 -->
      <div class="container-fluid envIntro">
        <div class="row">
          <div class="col-xl-4 col-lg-12 order-2 order-xl-1 word">
          </div>
          <div class="col-xl-8 col-lg-12 order-1 order-xl-2">
            <div class="envPictures">
              <div>
                <img src="img/restaurant/restaurent_env.jpg" alt="">
                <div class="envWord">
                  <h2>餐廳-室內</h2>
                  <p>餐廳中的擺設承襲著整個渡假村的風格，呈現了濃厚的森林風味，整體空間款敞明亮，即使團體入住也不用為了用餐場地頭痛，桌椅擺設也設計成可以提供2～10人同桌用餐，滿足不同的需求。</p>
                </div>
              </div>
              <div>
                <img src="img/restaurant/restaurent_env7.jpg" alt="">
                <div class="envWord">
                  <h2>廚房</h2>
                  <p>採用透明櫥窗式廚房，可以欣賞到廚師們如何分工合作，在等待餐點時，能像看一場精巧的表演秀一樣，食物現點現做，讓您跟毛小孩吃得安心。</p>
                </div>
              </div>
              <div>
                <img src="img/restaurant/restaurent_env4.jpg" alt="">
                <div class="envWord">
                  <h2>食物</h2>
                  <p>所選用的主要食材皆為本園區自己生產，無添加任何化學調味料，也依然令人食指大動。</p>
                </div>
              </div>
              <div>
                <img src="img/restaurant/restaurent_env8.jpg" alt="">
                <div class="envWord">
                  <h2>餐廳戶外</h2>
                  <p>除了室內，我們在室外也備有許多陽傘小方桌，天氣好的時候，可以一面用餐，一面愜意地看著風景與奔跑的毛小孩。</p>
                </div>
              </div>
              <div>
                <img src="img/restaurant/restaurent_env9.jpg" alt="">
                <div class="envWord">
                  <h2>廁所</h2>
                  <p>設有一間衛浴廁所 + 一間廁所，為隱藏門設計每間廁所都有增設通風設備，擺設消毒用洗手乳、酒精，每場活動結束都有專人全面清洗消毒，請安心使用。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



      <!-- 第五區 廚師介紹 -->
      <div class="container-fluid chifIntro">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-3 col-md-6 col-12 offset-lg-0 chifPic1"></div>
          <div class="col-lg-3 col-md-6 col-12 offset-lg-0 offset-0 word">
            <h4>人類餐廳廚師</h4>
            <p>Allen的特色是自己採摘園內的蔬果，利用最簡單的方式去烹飪，使用獨家調配而成的有機香料。他希望能讓消費者吃到安心且純粹的食物。</p>
          </div>
          <div class="col-lg-3 col-md-6 col-12 order-lg-1 order-md-2 order-1 chifPic2"></div>
          <div class="col-lg-3 col-md-6 col-12 order-lg-2 order-md-1 order-1 word">
            <h4>寵物餐廳廚師</h4>
            <p>Joyce期許為寵物專門設計的食物，能更加廣為人知，讓毛孩健康長大而努力。她研究適合寵物的天然營養餐點，讓飼主可以取代一般的飼料。</p>
          </div>
        </div>
      </div>



      <!-- 第六區 banner -->
      <div class="i_banner">
        <div class="i_banner_left"><img src="img/restaurant/headerTree3.png" alt=""></div>
        <div class="i_banner_center"><img class="i_restaurant_center" src="img/restaurant/headerDog2.png" alt="">
          <h1><span>客製</span>毛孩美食</h1>
        </div>
        <div class="i_banner_right"><img src="img/restaurant/headerTreeFootprint.png" alt=""></div>
      </div>
      <!-- 第六區 客製寵美食 -->
      <!-- 菜單內容 -->
      <div class="container-fluid customPet">
        <div class="row align-items-start">
          <div class="col-12 leftTitle"> 
            <h1 v-if="petCustomFoodSelect === '乾糧'">請選擇乾糧<span>(擇1)</span></h1>
            <h1 v-else-if="petCustomFoodSelect === '主食'"><i class="fa fa-chevron-left" aria-hidden="true" @click="undo"><h4>返回上一步</h4></i>請選擇主食<span>(擇1)</span></h1>
            <h1 v-else-if="petCustomFoodSelect === '配菜'"><i class="fa fa-chevron-left" aria-hidden="true" @click="undo"><h4>返回上一步</h4></i>請選擇配菜<span>(擇4)</span></h1>
            <h1 v-else="petCustomFoodSelect === '請確認菜單'"><i class="fa fa-chevron-left" aria-hidden="true" @click="undo"><h4>返回上一步</h4></i>請確認菜單</h1>
          </div>
          <div class="col-md-6 col-12 left customPetMenu mt-5">
            <div class="row justify-content-around" v-if="petCustomFoodSelection.length !== 6">
              <div class="col-5 foodback" v-for="(food, fid) in filterCataToPetsCustom" :key="food.MEAL_NAME"
                v-if="petCustomFoodSelect === food.MEAL_TYPE">
                <div class="foodpic">
                  <img :src="food.MEAL_IMG">
                </div>
                <div class="foodinfo">
                  <p>{{food.MEAL_NAME}}</p>
                  <p>NT {{food.MEAL_PRICE}} 元</p>
                  <p>{{food.MEAL_CAL}} cal</p>
                  <button @click="choosePetCustomFood(food)">加入</button>
                </div>
              </div>
            </div>
            <!-- 客製寵食菜單 -->
            <div class="foodmenu" v-else-if="petCustomFoodSelect === '請確認菜單'">
              <h3 class="mb-4">您客製的<span>寵物</span>食品</h3>
              <custom-pets-food v-for="(food, fid) in petCustomFoodSelection" :menu="food, fid" @removefood="remove"
              :key="food.MEAL_NAME">
              <template #delete>X1</template>
              </custom-pets-food>
              <h4 class="mt-4">小結:NT {{customTotalPrice | currency}} 元</h4>
              <button @click="cancelCustomFood">全部取消</button>
              <button @click="confirmCustomFood">加入菜單</button>
            </div>
          </div>
          <div class="col-md-6 col-12 right">
            <transition name="fade">
              <dog v-if="isDogOut"></dog>
            </transition>
            <div class="foodpic1">
              <div v-for="food in petCustomFoodSelection" :class="food.eng"></div>
            </div>
          </div>
        </div>
      </div>



      <!-- 第七區 banner -->
      <div class="i_banner">
        <div class="i_banner_left"><img src="img/restaurant/headerTree3.png" alt=""></div>
        <div class="i_banner_center"><img class="i_restaurant_center" src="img/restaurant/headerDog1.png" alt="">
          <h1>推薦<span>毛孩</span>美食</h1>
        </div>
        <div class="i_banner_right"><img src="img/restaurant/headerTreeFootprint.png" alt=""></div>
      </div>
      <!-- 第七區 現有寵美食 -->
      <!-- 菜單內容 -->
      <div class="container-fluid Pet">
        <div class="row">
          <div class="col-md-6 col-12 left">
            <div class="row">
              <div class="selectMenu col-12">
                <i class="fa fa-angle-up rotate" aria-hidden="true"></i>
                <input class="mainmenu" type="text" value="請選擇種類" readonly />
                <div class="sub col-12">
                  <input class="submenu" type="text" v-for="food in petFoodType" :value="food" @click="petFoodSelect = food " readonly />
                </div>
              </div>
            </div>
            <!-- 左邊沙拉類&鮮食 -->
            <div class="row justify-content-center">
              <div class="col foodback" v-if="petFoodSelect === '沙拉'">
                <div class="row">
                  <div class="col-md-6 offset-md-6 col-12 petmenu-right">
                    <ol>
                      <template v-for="(food, fid) in filterTypeToSalad">
                        <li @click="chooseFood(food)">
                          <h4>{{fid+1}}.{{food.MEAL_NAME}}</h4>
                          <p><span>{{food.MEAL_CAL}} cal</span>NT{{food.MEAL_PRICE}}元</p>
                        </li>
                        <i class="fa fa-cutlery addmenu" aria-hidden="true" @click="chooseFood(food)"></i>
                        <i class="fa fa-info-circle info" aria-hidden="true" @click="getLightBoxOpen(food)"></i>
                      </template>
                    </ol>
                  </div>
                </div>
              </div>
              <div class="col foodback2" v-else="petFoodSelect === '鮮食'">
                <div class="row">
                  <div class="col-md-6 offset-md-6 col-12 petmenu2-right">
                    <ol>
                      <template v-for="(food, fid) in filterTypeToFresh">
                        <li @click="chooseFood(food)">
                          <h4>{{fid+1}}.{{food.MEAL_NAME}}<br></h4>
                          <p><span>{{food.MEAL_CAL}} cal</span>NT{{food.MEAL_PRICE}}元</p>
                        </li>
                        <i class="fa fa-cutlery addmenu" aria-hidden="true" @click="chooseFood(food)"></i>
                        <i class="fa fa-info-circle info" aria-hidden="true" @click="getLightBoxOpen(food)"></i>
                      </template>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-12 right">
            <div class="foodmenu">
              <h3 v-if="filterMenuToPets.length>0"><span>寵物</span>的菜單</h3>
              <!-- 加入菜單元件 -->
              <add-to-pets-menu v-for="(food, fid) in filterMenuToPets" :menu="food, fid" @removefood="remove"
                :key="food.MEAL_NAME"></add-to-pets-menu>
              <h3 v-if="filterMenuToHuman.length>0">您的菜單</h3>
              <add-to-human-menu v-for="(food, fid) in filterMenuToHuman" :menu="food, fid" @removefood="remove"
              :key="food.MEAL_NAME"></add-to-human-menu>
              <div class="totalPrice">
                <h3 v-if="allFoodSelection.length>0">總價：NT <span class="Price">{{ totalPrice | currency }}</span> 元</h3>
                <h3 v-else>您還沒有點菜唷<i class="fa fa-frown-o" aria-hidden="true"></i></h3>
              </div>
              <div class="addToMenu">
                <button @click="loginChenk()">預約餐廳</button>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- 第八區 banner -->
      <div class="i_restaurant_banner">
        <div class="i_banner_top">
          <img src="img/restaurant/headerRoof.png" alt="">
        </div>
        <div class="i_banner_left"><img src="img/restaurant/headerTree1.png" alt=""></div>
        <div class="i_banner_center">
          <img class="i_restaurant_center_left" src="img/restaurant/headerHuman.png" alt="">
          <h1>推薦<span>毛主人</span>美食</h1>
          <img class="i_restaurant_center_right" src="img/restaurant/headerFood.png" alt="">
        </div>
        <div class="i_banner_right"><img src="img/restaurant/headerTree4.png" alt=""></div>
      </div>
      <!-- 第八區 現有人類美食  -->
      <!-- 菜單內容 -->
      <div class="container-fluid human">
        <div class="row">
          <div class="col-md-6 col-12 left">
            <div class="row"> 
                <div class="selectMenu col-12">
                  <i class="fa fa-angle-up rotate" aria-hidden="true"></i>
                  <input class="mainmenu" type="text" value="請選擇種類" readonly />
                  <div class="sub col-12">
                    <input class="submenu" type="text" v-for="food in humanFoodType" :value="food" @click="humanFoodSelect = food " readonly />
                  </div>
                </div>
            </div>
            <!-- 左邊義式類&美式類 -->
            <div class="row justify-content-center">
              <div class="col foodback" v-if="humanFoodSelect === '義式'">
                <div class="row">
                  <div class="col-md-8 offset-md-4 col-12  human-right">
                    <ol>
                      <template v-for="(food, fid) in filterTypeToItaly">
                        <li @click="chooseFood(food)">
                          <h4>{{fid+1}}.{{food.MEAL_NAME}}<br></h4>
                          <p><span>{{food.MEAL_CAL}} cal</span>NT{{food.MEAL_PRICE}} 元</p>
                        </li>
                        <i class="fa fa-cutlery addmenu" aria-hidden="true" @click="chooseFood(food)"></i>
                        <i class="fa fa-info-circle info" aria-hidden="true" @click="getLightBoxOpen(food)"></i>
                      </template>
                    </ol>
                  </div>
                </div>
              </div>
              <div class="col foodback2" v-else="humanFoodSelect === '美式'">
                <div class="row">
                  <div class="col-md-8 offset-md-4 human-right">
                    <ol>
                      <template v-for="(food, fid) in filterTypeToUS">
                        <li @click="chooseFood(food)">
                          <h4>{{fid+1}}.{{food.MEAL_NAME}}<br></h4>
                          <p><span>{{food.MEAL_CAL}} cal</span>NT{{food.MEAL_PRICE}}元</p>
                        </li>
                        <i class="fa fa-cutlery addmenu" aria-hidden="true" @click="chooseFood(food)"></i>
                        <i class="fa fa-info-circle info" aria-hidden="true" @click="getLightBoxOpen(food)"></i>
                      </template>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-12 right">
            <div class="foodmenu">
              <h3 v-if="filterMenuToHuman.length>0">您的菜單</h3>
              <!-- 加入菜單元件 -->
              <add-to-human-menu v-for="(food, fid) in filterMenuToHuman" :menu="food, fid" @removefood="remove"
                :key="food.MEAL_NAME"></add-to-human-menu>
              <h3 v-if="filterMenuToPets.length>0"><span>寵物</span>的菜單</h3>
              <add-to-pets-menu v-for="(food, fid) in filterMenuToPets" :menu="food, fid" @removefood="remove"
              :key="food.MEAL_NAME"></add-to-pets-menu>
              <div class="totalPrice">
                <h3 v-if="allFoodSelection.length>0">總價：NT <span class="Price">{{totalPrice | currency}} </span>元</h3>
                <h3 v-else>您還沒有點菜唷<i class="fa fa-frown-o" aria-hidden="true"></i></h3>
              </div>
              <div class="addToMenu">
                <button @click="loginChenk()">預約餐廳</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 食物資訊燈箱 -->
    <transition name="fade">
      <box v-show="isLightBoxOpen" @closelightbox="isLightBoxOpen = false" :food="forLightBoxInfo" @getfood="chooseFood"></box>
    </transition>
    <!-- 預約燈箱 -->
    <transition name="fade">
      <booking v-show="isBookingBoxOpen" @closelightbox="isBookingBoxOpen = false" :foods="allFoodSelection">
      </booking>
    </transition>

  </div>
  </div>



  @@include('layout/footer.html')

  <!-- vue 預約餐廳元件 -->
  <script type="text/x-template" id="bookingbox">
    <div class="i_background">
      <div class="i_lightbox_bk">
              <a href="#" class="i_closeButton" @click.prevent="closeBox">
                  <img src="./img/common/close.png">
              </a>
              <div class="i_lightbox_title">
                  <h2>預訂內容</h2>
              </div>
              <div class="bar">
              <div class="i_restaurant">
              <div class="i_restaurant_left">
                  <div id="my-calendar" class="i_calendar"></div>
                  <div class="i_selece_left">
                      <div class="i_select">成人
                          <select v-model="numberOfAdults" name="numberOfAdults">
                              <option :value="i" v-for="i in 10">{{i}}</option>
                          </select>
                          人
                      </div>
                      <div class="i_select">兒童
                            <select v-model="numberOfKids" name="numberOfKids">
                              <option :value="i" v-for="i in 10">{{i}}</option>
                            </select>
                          人
                      </div>
                  </div>
                <div class="i_selece_right">
                  <div class="i_select">狗
                      <select v-model="numberOfDogs" name="numberOfDogs">
                        <option :value="i" v-for="i in 10">{{i}}</option>
                      </select>
                      隻
                  </div>
                  <div class="i_select">貓
                      <select v-model="numberOfCats" name="numberOfCats">
                        <option :value="i" v-for="i in 10">{{i}}</option>
                      </select>
                      隻
                  </div>
                </div>
              </div>
              <div class="i_restaurant_right">
                <p  v-if="filterCataToPets.length!=0">寵物的菜單</p>
                    <table>
                        <tr v-for="food in filterCataToPets">
                            <td>{{food.MEAL_NAME}}</td>
                              x <input type="number" :value="food.MEAL_COUNT" readonly="readonly">
                            <td>NT {{food.MEAL_COUNT*food.MEAL_PRICE | currency}}元</td>
                        </tr>
                    </table>   
                  <p  v-if="filterCataToHuman.length!=0">您的菜單</p>
                  <table>
                      <tr v-for="food in filterCataToHuman">
                          <td>{{food.MEAL_NAME}}</td>
                            x <input type="number" :value="food.MEAL_COUNT" readonly="readonly">
                          <td>NT {{food.MEAL_COUNT*food.MEAL_PRICE | currency}} 元</td>
                      </tr>
                    </table>
                    <hr v-if="foods.length!=0">
                  <div class="i_total">
                      <h3 v-if="foods.length>0">總價 NT {{totalPrice | currency}}元</h3>
                      <h3 v-else>尚未點菜，直接預約餐廳嗎?</h3>
                  </div>
                  <button type="button" class="i_button" @click="booking">預約</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </script>



  <!-- vue 食物資訊燈箱元件 -->
  <script type="text/x-template" id="lightBox">
    <div class="i_background">
      <div class="i_lightbox_bk">
          <div class="i_menu">
              <p>主菜</p>
              <div class="i_orangeLine"></div>
          </div>
          <a href="#" class="i_closeButton" @click.prevent="closeBox">
              <img src="./img/common/close.png" >
          </a>
          <div class="i_lightbox_title">
              <h2>{{food.MEAL_NAME}}</h2>
          </div>
          <div class="bar">
              <div>
                  <img :src="food.MEAL_IMG" alt="">
              </div>
              <div class="i_mealMain">
                  <div class="i_meal">
                      <p>{{food.MEAL_TYPE}}餐點</p>
                      <div class="i_orangeLine"></div>
                  </div>
                  <div class="i_mealDataContent">
                      <p>{{food.MEAL_MSG}}</p>
                  </div>
              </div>
          </div>
          <a href="#" class="i_addMenu" @click.prevent="getFood(food)">加入菜單</a>
      </div>
    </div>
  </script>

  <!-- 加入菜單元件 -->
  <script type="text/x-template" id="addToMenu">
    <div>
      <ul>
        <li id="petsMenu"><span>{{$attrs.fid + 1}}.{{menu.MEAL_NAME}}</span><span v-if="menu.eachItem" id="showItem">{{menu.eachItem}}</span></li>
        <slot name="delete">
        <li><button @click="removeItem($attrs.fid,menu)"><i class="fa fa-minus-circle" aria-hidden="true"></i></button></li>
        <li><span>X {{menu.MEAL_COUNT}}</span></li>
        <li><button  @click="addCount"><i class="fa fa-plus-circle" aria-hidden="true"></i></button></li>
        </slot>
        <li><span>NT {{menu.MEAL_PRICE*menu.MEAL_COUNT | currency}}元</span></li>
      </ul>
    </div>
  </script>
  
  <!-- 狗動畫元件 -->
  <script type="text/x-template" id="letdogout">
    <div class="dogContainer">
      <div class="dog">
        <div class="dog-body">
          <div class="dog-tail">
            <div class="dog-tail">
              <div class="dog-tail">
                <div class="dog-tail">
                  <div class="dog-tail">
                    <div class="dog-tail">
                      <div class="dog-tail">
                        <div class="dog-tail"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="dog-torso"></div>
        <div class="dog-head">
          <div class="dog-ears">
            <div class="dog-ear"></div>
            <div class="dog-ear"></div>
          </div>
          <div class="dog-eyes">
            <div class="dog-eye"></div>
            <div class="dog-eye"></div>
          </div>
          <div class="dog-muzzle">
            <div class="dog-tongue"></div>
          </div>
        </div>
      </div>
    </div>
  </script>


  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- axios -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <!-- slicker -->
  <script type="text/javascript" src="./vendors/slick/js/slick.min.js"></script>
  <script src="./js/Restaurant_slicker.js"></script>
  <!-- GSAP -->
  <script src="./vendors/GSAP/gsap.min.js"></script>
  <!-- 捲軸 -->
  <script src="https://cdn.staticfile.org/simplebar/5.2.1/simplebar.min.js"></script>
  <!-- 月曆 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="./vendors/travo-calendar/js/tavo-calendar.js"></script>
  <!-- vue -->
  <script src="./vendors/vue/js/vue.js"></script>
  <script src="./js/restaurant_vue.js"></script>








</body>
</html>