.i_banner{
    //下方需註解
    // margin-top: 30px;
    //上方需註解
    display: flex;
    justify-content: center;
    background-color: #d3e0be;
    height: 150px;
    position: relative;
    .i_banner_left{
        top: -20px;
        left: 50px;
        position: absolute;
        @include pad{
            left:30px;
        }
        @include mobile{
            left:20px;
        }
        @include iphoneX{
            left:10px;
        }
        img{
            max-width: 300px;
            @include pad{
                max-width: 200px;
            }
            @include mobile{
                max-width: 150px;
            }

        }
    }
    .i_banner_center{
        display: flex;
        align-items: center;
        z-index: 3;
        img{
            max-width: 120px;
            @include iphoneX{
                max-width: 80px;
            }
        }
        .img-right{
            max-width: 70px;
            @include iphoneX{
                display: none;
            }
        }
    }
    .i_banner_right{
        position: absolute;
        top: -10px;
        right: 50px;
        @include pad{
            right:30px;
            top: 80px;
        }
        @include mobile{
            right:10px;
            top: 100px;
        }
        img{
            max-width: 300px;
            @include pad{
                max-width: 150px;
            }
            @include mobile{
                max-width: 100px;
            }
        }
    }

}