.backend {

    background-image: url(../img/mall/dog_foot_big@2x.png);
    margin-top: 0;
    cursor: auto;
    font-family: "Noto Sans TC", sans-serif;
    input[type="text"] {
        height: 24px;
        vertical-align: text-top;
        outline: none;
        border:0;
        border: 1px solid;
    }
    nav{
        p{
            color: #915727!important;
        }
        a{
            color:#915727;
        }
    }
    .list-group{
        width: 75%;
    }
}
