.back_index {
  padding-top: 0;
  cursor: auto;
  margin-top: 0;

  .back_wrapper {
    width: 100%;
    // margin: 0 auto;
    margin-top: 0px;
    // background-color: bisque;
    position: relative;

    .BK_img {
      display: block;
      width: 100%;
    }

    .link {
      width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      position: absolute;
      top: 30%;
      left: 6%;

      a {
        display: block;
        color: #734b23;
        padding-top: 5px;
        text-align: center;
      }

      .front {
        img {
          display: block;
          max-width: 162px;
          position: absolute;
        }

        img:hover {
          animation: dog 1s linear infinite;
          transition: .5s;
        }

        @keyframes dog {

          0% {
            top: -50px;
          }

          100% {
            top: 0px;
          }
        }

        h1 {
          font-size: 30px;
          font-family: 'setofont';
          padding-top: 120px;
        }

        h1:hover {
          transition: 1s;
          transform: scale(1.2);
        }
      }

      .logo {
        img {
          display: block;
          max-width: 194px;
        }
      }

      .back {
        img {
          display: block;
          max-width: 174px;
          position: absolute;
        }

        img:hover {
          animation: cat 1s linear infinite;
          transition: .5s;
        }

        @keyframes cat {

          0% {
            top: -50px;
          }

          100% {
            top: 0px;
          }
        }

        h1 {
          font-size: 30px;
          font-family: 'setofont';
          padding-top: 120px;
        }

        h1:hover {
          transition: 1s;
          transform: scale(1.2);
        }
      }

    }
  }
}