<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css" />
    <title>Document</title>
</head>
<body>
    <div class="i_background">
        <div class="i_lightbox_bk">
            <a href="#" class="i_closeButton">
                <img src="../img/common/close.png" alt="">
            </a>
            <div class="i_lightbox_title">
                <h2>購物車清單</h2>
            </div>
            <button type="button" class="i_button">結帳</button>
        </div>
    </div>
</body>
</html>