
.c_banner{
    font-size: 0;
    img{
        max-width:1263px;
    }
}
.c_nav{
    display: flex;
    justify-content: center;
    max-width:1263px;
    height: 300px;
    ul{
       display: flex;
       width: 800px;
       height: 175px;
       margin-top: 60px;
       justify-content: center;
       
       
   }

   li{
      color: #fff;
      background-color: #FFC857; 
      width: 175px;
      height: 175px;
      border-radius: 50%;
      margin: 0px 10px;
  
  }
    li > a{
     display:block;
     font-size: 21px;
     text-align:center;
     line-height: 175px;
     text-decoration: none;
    
     
 }
}
.c_content{
  
    display: flex;
    max-width:1263px;
    justify-content: center;
    margin-bottom: 50px;
    img{
        display: block;
        width: 300px;
        height: 492px;
        margin-left: 60px;
        margin-right: 57px;
    }
}
.c_right_content_t1{
    margin: 0 20px;
    h3{
       font-size: 24px;
       font-weight: bold;
       margin-bottom: 10px;
    }
    p{
       font-size: 19px;
       margin-bottom: 21px;
       max-width: 730px;
       line-height: 2;
    
   
    }
}
.c_right_content_t2{
    margin: 0 20px;
    h3{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
    p{
    font-size: 19px;
    max-width: 730px;
    line-height: 2;

}
}


