
.c_banner{
    font-size: 0;
    img{
        max-width:1920px;
    }
}
.c_nav{
    display: flex;
    justify-content: center;
    max-width:1920px;
    height: 300px;
    
   
    ul{
        display:flex;
        max-width: 800px;
        height: 175px;
        margin-top: 0px;
        justify-content:center;
        @include mobile{
            margin-top:0px;
        }
        
        @include iphoneX{
        flex-wrap: wrap;
        }
    }

   li{
      color: #fff;
      background-color: #FFC857; 
      width: 175px;
      height: 175px;
      border-radius: 50%;
      margin: 0px 10px;
        @include mobile{
            width: 125px;
            height: 125px;
        }
        @include iphoneX{
            margin: 5px 10px;  
        }
        
    }
    li > a{
     display:block;
     font-size: 21px;
     text-align:center;
     line-height: 175px;
     text-decoration: none;
     @include mobile{
        line-height: 125px;
    }
     
    }
}
.c_content{
    display: flex;
    max-width:1920px;
    margin-bottom: 50px;
    @include mobile{
       display: block;
    }
    .c_left_content{

        img{
            display: block;
            width: 300px;
            height: 492px;
            margin-left: 60px;
            margin-right: 57px;
            @include mobile{
                width: 200px;
                height: 328px;
                margin: 0 auto;
                margin-top: -150px;
                margin-bottom: 80px;
            }
            @include iphoneX{
                margin-top: 0px;
            }

        }
    }
    .c_right_content{
        @include pad{
          margin-top: -50px;
        }
    }
    .c_right_content_t1{
        margin: 0 20px;
        @include pad{
          
        }
        @include mobile{
            margin: 0 100px;
            margin-bottom: 30px;
        }
        @include iphoneX{
            margin: 0 50px;
        }
        h3{
           font-size: 24px;
           font-weight: bold;
           margin-bottom: 10px;
           position: relative;
        }
        h3::after{
            content: '';
            position:absolute;
            background:linear-gradient(90deg,#333 50%,transparent 0) repeat-x;
            background-size: 4px 1px;
            width: 145px;
            height: 2px;
            left: 0;
            top: 35px;


        }
        
        p{
           font-size: 19px;
           margin-bottom: 21px;
           max-width: 730px;
           line-height: 2;
        
       
        }
    }
    .c_right_content_t2{
        margin: 0 20px;
        
        @include mobile{
            margin: 0 100px;
        }
        @include iphoneX{
            margin: 0 50px;
        }
        h3{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
        position: relative;
        }
        h3::after{
            content: '';
            position:absolute;
            background:linear-gradient(90deg,#333 50%,transparent 0) repeat-x;
            background-size: 4px 1px;
            width: 145px;
            height: 2px;
            left: 0;
            top: 35px;

        }

        p{
        font-size: 19px;
        max-width: 730px;
        line-height: 2;
    
        }
    }
}


