.c_illustration1{
    font-size: 0;
    img{
        max-width: 1920px;
    }
}
.c_report_title{
    margin-top: 43px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
   @include mobile{
      flex-direction: column;
   }
   @include iphoneX{
      margin: 0 auto;
   }
}
.c_report_title_left{
    margin-left: 70px;
    p{
        font-size: 19px;
        line-height: 1.8;
    }
}
.c_report_title_right{
    margin-right: 70px;
    @include mobile{
      order: -1;
      margin-left: 70px;
      margin-bottom: 30px;
    }
    @include iphoneX{
      margin-top:30px;
   }
    select{
        width: 180px;
        font-size: 19px;
        background-color: #B2B2B2;
        color: #fff;
        text-align:center;
        text-align-last:center;
   
    option{
       
    }
}
}
.c_report_light{
   
   @include iphoneX{
      display: block;
      margin:0 auto;
   }
    > p{
        font-size: 19px;
        margin-left: 70px;
        margin-top: 36px;
   }
    ul{
        display: flex;
        margin-left: 60px;
        @include iphoneX{
         display: block;
         margin-left: 150px;
      }
  }
    ul li{
        margin: 0 15px;
        height:22px;
        @include iphoneX{
         margin:0 5px;
      }
  }
    ul>li:nth-child(1){
        margin-top: 36px;
        background-color:#FB0000;
        width: 111px;
        border-radius:20px;
    }
    ul>li:nth-child(2){
        margin-top: 36px;
        background-color:#FFC857;
        width: 111px;
        border-radius:20px;
    }
    ul>li:nth-child(3){
        margin-top: 36px;
        background-color:#94C631;
        width: 111px;
        border-radius:20px;
    }
    ul > li > p{
       font-size: 19px;
       color: #fff;
       text-align:center;
       line-height: 22px;
       
   }
}
#c_myChart{
   
}
.c_chart-container{
   
}


.c_illustration2{
    margin-top: 50px;
    font-size: 0px;
    
     img{
        max-width: 1920px;
    }
}
.c_suggestion{
    background-image: url('../img/clinic/Group\ 2462.png');
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 850px;
    height: 450px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    @include mobile{
      max-width: 700px;
      height: 370px;
    }
    @include iphoneX{
      max-width: 350px;
      height: 190px;
    }
}
.c_toHomepage{
   margin-bottom: 50px;
   a{

   }
   button{
      cursor: pointer;
      display: block;
      margin: 0 auto;
      font-size: 16px;
      width: 120px;
      height: 30px;
      border: none;
      outline: none;
      border-radius: 30px;
      margin-bottom: 20px;
      transition: .5s;
      text-align:center;
      &:hover{
        background-color: $colorOrange;
        color: white;
      }
   }
}
