/*----- 健檢中心Q&A-----*/
.clinic_wrapper {
    margin: 40px 50px 0 50px;

    @include mobile {
        margin: 40px 10px 0 10px;
    }

    @include iphoneX {
        margin: 40px 10px 0 10px;
    }

    .c_faq1{
        margin-bottom: 24px;
        
        &.c_faqopen{
            .c_show{
                border-radius: 6px;
            }

            .fa-chevron-down{
                transform: rotate(0deg);
            }            
        }  
    }

    .c_faq2,
    .c_faq3,
    .c_faq4,
    .c_faq5{
        margin-bottom: 24px;
        
        &.c_faqopen0{
            .c_flip{
                border-radius: 6px 6px 0 0;
            }

            .fa-chevron-down{
                transform: rotate(180deg);
            }            
        }  
    }

    .c_faq6 {
        margin-bottom: 52px;
                
        &.c_faqopen0{
            .c_flip{
                border-radius: 6px 6px 0 0;
            }

            .fa-chevron-down{
                transform: rotate(180deg);
            }            
        }  
    }

    .c_show {
        background-color: #FFC857;
        color: #ffffff;
        padding: 24px 30px;
        border-radius: 6px 6px 0 0;
        cursor: pointer;
        text-align: left;
        position: relative;

        @include mobile{
            padding-left: 24px;
        }

        @include iphoneX {
            line-height: 36px;
            padding: 10px 30px 10px 16px;
        }

        .fa-chevron-down {
            position: absolute;
            top: 40%;
            right: 19px;
            transform: rotate(180deg);
            transition: 0.5s;

            @include iphoneX{
                right: 8px;
            }
        }
    }

    .c_flip {
        background-color: #FFC857;
        color: #ffffff;
        padding: 24px 30px;
        border-radius: 6px;
        cursor: pointer;
        text-align: left;
        position: relative;

        @include mobile{
            line-height: 36px;
            padding-left: 24px;
        }

        @include iphoneX {
            line-height: 36px;
            padding: 10px 30px 10px 16px;
        }

        .fa-chevron-down {
            position: absolute;
            top: 40%;
            right: 19px;
            transform: rotate(0deg);
            transition: 0.5s;

            @include iphoneX{
                right: 8px;
            }
        }
    }

    .c_panel1 {
        background-color: #F2EFEF;
        color: #000000;
        font-size: 19px;
        line-height: 37px;
        padding: 14px 30px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        display: block;

        @include mobile {
            padding: 10px 20px 10px 24px;
        }

        @include iphoneX {
            padding: 10px 6px 10px 16px;
        }
    }

    .c_panel2,
    .c_panel3,
    .c_panel4,
    .c_panel5,
    .c_panel6 {
        background-color: #F2EFEF;
        color: #000000;
        font-size: 19px;
        line-height: 37px;
        padding: 14px 30px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        display: none;

        @include mobile {
            padding: 10px 20px 10px 24px;
        }

        @include iphoneX {
            padding: 10px 6px 10px 16px;
        }
    }
}

/*----- 回首頁-----*/
.c_goback{
    width: 100%;
    text-align: center;

    .c_indexbtn{
        width: 100px;
        height: 30px;
        background-color: #EFEFEF;
        font-size: 16px;        
        border: none;
        outline: none;
        border-radius: 30px;
        margin-bottom: 50px;
        transition: 0.5s;
        cursor: pointer;        
        
        &:hover{
          background-color: #ff8562;
          color: #ffffff;
        }
    
        &:active{
          background-color: #EFEFEF;
          color: #000000;
        }
    }
}