/*----- 健檢中心Q&A-----*/
.clinic_wrapper {
    margin: 40px 50px 0 50px;

    @include mobile {
        margin: 0 10px;
    }

    @include iphoneX {
        margin: 0 10px;
    }

    .c_faq1,
    .c_faq2,
    .c_faq3,
    .c_faq4,
    .c_faq5{
        margin-bottom: 24px;        
    }

    .c_faq6 {
        margin-bottom: 52px;
    }

    .c_show {
        background-color: #FFC857;
        color: #ffffff;
        padding: 24px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        cursor: pointer;
        /*張開的時候 內文的圓角破口*/
        text-align: left;
        position: relative;

        @include iphoneX {
            line-height: 36px;
            padding: 10px 30px 10px 17px;
        }

        img {
            width: 24px;
            // 會太大嗎
            position: absolute;
            top: 40%;
            right: 19px;
            transform: rotate(0deg);
            transition: 0.5s;
            
            &.c_rotate1{
                transform: rotate(180deg);
            }

            @include iphoneX {
                right: 8px;
            }
        }
    }

    .c_flip {
        background-color: #FFC857;
        color: #ffffff;
        padding: 24px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        cursor: pointer;
        /*張開的時候 內文的圓角破口*/
        text-align: left;
        position: relative;

        @include iphoneX {
            line-height: 36px;
            padding: 10px 30px 10px 17px;
        }

        img {
            width: 24px;
            // 會太大嗎
            position: absolute;
            top: 40%;
            right: 19px;
            transform: rotate(180deg);
            transition: 0.5s;
            
            &.c_rotate{
                transform: rotate(0deg);
            }

            @include iphoneX {
                right: 8px;
            }
        }
    }

    .c_panel1 {
        background-color: #F2EFEF;
        color: #000000;
        font-size: 19px;
        line-height: 37px;
        padding: 14px 30px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        display: block;

        @include mobile {
            padding: 10px 20px 10px 24px;
        }

        @include iphoneX {
            padding: 10px 6px 10px 16px;
        }
    }

    .c_panel2,
    .c_panel3,
    .c_panel4,
    .c_panel5,
    .c_panel6 {
        background-color: #F2EFEF;
        color: #000000;
        font-size: 19px;
        line-height: 37px;
        padding: 14px 30px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        display: none;

        @include mobile {
            padding: 10px 20px 10px 24px;
        }

        @include iphoneX {
            padding: 10px 6px 10px 16px;
        }
    }
}