.c_illustration1{
    font-size: 0;
    img{
        max-width: 1920px;
    }
}
.c_report_title{
    margin-top: 43px;
    display: flex;
    justify-content: space-between;
   @include mobile{
      flex-direction: column;
   }
   @include iphoneX{
      margin: 0 auto;
   }
}
.c_report_title_left{
    margin-left: 70px;
    p{
        font-size: 19px;
        line-height: 1.8;
    }
}
.c_report_title_right{
    margin-right: 70px;
    @include mobile{
      order: -1;
      margin-left: 70px;
      margin-bottom: 30px;
    }
    @include iphoneX{
      margin-top:30px;
   }
    select{
        width: 180px;
        font-size: 19px;
        background-color: #B2B2B2;
        color: #fff;
        text-align:center;
        text-align-last:center;
   
    option{
       
    }
}
}
.c_report_light{
   
   @include iphoneX{
      display: block;
      margin:0 auto;
   }
    > p{
        font-size: 19px;
        margin-left: 70px;
        margin-top: 36px;
   }
    ul{
        display: flex;
        margin-left: 60px;
        @include iphoneX{
         display: block;
         margin-left: 150px;
      }
  }
    ul li{
        margin: 0 15px;
        height:22px;
        @include iphoneX{
         margin:0 5px;
      }
  }
    ul>li:nth-child(1){
        margin-top: 36px;
        background-color:#FB0000;
        width: 111px;
        border-radius:20px;
    }
    ul>li:nth-child(2){
        margin-top: 36px;
        background-color:#FFC857;
        width: 111px;
        border-radius:20px;
    }
    ul>li:nth-child(3){
        margin-top: 36px;
        background-color:#94C631;
        width: 111px;
        border-radius:20px;
    }
    ul > li > p{
       font-size: 19px;
       color: #fff;
       text-align:center;
       line-height: 22px;
       
   }
}
.c_report_content{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 450px;
    margin-top:72px;
    margin-left: 70px;
    margin-right: 70px;
   
   ul{
      &:not(:first-child){
         margin-left: 10px;
      }
   }
   
    li{
       width: 111px;
       height:22px;
       border-radius:20px;
   }
    p{
       font-size: 19px;
       line-height: 1.6;
       font-weight: bold;
   }
   .bar1{
       >li:nth-child(1){
         
         background-color:#CFD1D2;
          
       }
       >li:nth-child(2){
         margin-top:10px;
         background-color:#CFD1D2;
         
       }
       >li:nth-child(3){
         margin-top:10px;
         background-color:#FB0000;
         
       }
       >li:nth-child(4){
         margin-top:10px;
         background-color:#FB0000;
          
       }
       >li:nth-child(5){
          margin-top:10px;
          background-color:#FB0000;
         
       }
       >li:nth-child(6){
          margin-top:10px;
          background-color:#FB0000;
          
       }
       >li:nth-child(7){
          margin-top:10px;
          background-color:#FB0000;
          
       }
       >li:nth-child(8){
          margin-top:10px;
          background-color:#FB0000;
          
       }
       >li:nth-child(9){
          margin-top:10px;
          background-color:#FB0000;
         
       }
       >li:nth-child(10){
          margin-top:10px;
          background-color:#FB0000;
         
       }
       >li:nth-child(11){
          margin-top:20px;
          background-color:#fff;
          text-align:center;
       }
   
   
   }
   
   .bar2{
   
       >li:nth-child(1){
          
          background-color:#CFD1D2;
          
       }
       >li:nth-child(2){
          margin-top:10px;
          background-color:#CFD1D2;
          
       }
       >li:nth-child(3){
          margin-top:10px;
          background-color:#CFD1D2;
         
       }
       >li:nth-child(4){
          margin-top:10px;
          background-color:#CFD1D2;
       
       }
       >li:nth-child(5){
          margin-top:10px;
          background-color:#CFD1D2;
         
       }
       >li:nth-child(6){
          margin-top:10px;
          background-color:#FFC857;
         
       }
       >li:nth-child(7){
          margin-top:10px;
          background-color:#FFC857;
         
       }
       >li:nth-child(8){
          margin-top:10px;
          background-color:#FFC857;
         
       }
       >li:nth-child(9){
          margin-top:10px;
          background-color:#FFC857;
         
       }
       >li:nth-child(10){
          margin-top:10px;
          background-color:#FFC857;
        
       }
       >li:nth-child(11){
          margin-top:20px;
          background-color:#fff;
          text-align:center;
       }
   
   }
   
   .bar3{
   
   
       >li:nth-child(1){
         
          background-color:#CFD1D2;
        
       }
       >li:nth-child(2){
          margin-top:10px;
          background-color:#CFD1D2;
        
       }
       >li:nth-child(3){
          margin-top:10px;
          background-color:#CFD1D2;
          
       }
       >li:nth-child(4){
          margin-top:10px;
          background-color:#CFD1D2;
        
       }
       >li:nth-child(5){
          margin-top:10px;
          background-color:#CFD1D2;
         
       }
       >li:nth-child(6){
          margin-top:10px;
          background-color:#CFD1D2;
         
       }
       >li:nth-child(7){
          margin-top:10px;
          background-color:#CFD1D2;
        
       }
       >li:nth-child(8){
          margin-top:10px;
          background-color:#CFD1D2;
         
       }
       >li:nth-child(9){
          margin-top:10px;
          background-color:#94C631;
         
       }
       >li:nth-child(10){
          margin-top:10px;
          background-color:#94C631;
         
       }
       >li:nth-child(11){
          margin-top:20px;
          background-color:#fff;
          text-align:center;
       }
   }
   
   
   .bar4{
   
       >li:nth-child(1){
         
          background-color:#CFD1D2;
         
      }
       >li:nth-child(2){
          margin-top:10px;
          background-color:#CFD1D2;
          
      }
       >li:nth-child(3){
          margin-top:10px;
          background-color:#FB0000;
         
      }
       >li:nth-child(4){
          margin-top:10px;
          background-color:#FB0000;
         
      }
       >li:nth-child(5){
          margin-top:10px;
          background-color:#FB0000;
         
      }
       >li:nth-child(6){
          margin-top:10px;
          background-color:#FB0000;
         
      }
       >li:nth-child(7){
          margin-top:10px;
          background-color:#FB0000;
         
      }
       >li:nth-child(8){
          margin-top:10px;
          background-color:#FB0000;
        
      }
       >li:nth-child(9){
          margin-top:10px;
          background-color:#FB0000;
        
      }
       >li:nth-child(10){
          margin-top:10px;
          background-color:#FB0000;
         
      }
       >li:nth-child(11){
          margin-top:20px;
          background-color:#fff;
      
          text-align:center;
      }
   
   }
   .bar5{
   
       >li:nth-child(1){
          
          background-color:#CFD1D2;
        
       }
       >li:nth-child(2){
          margin-top:10px;
          background-color:#CFD1D2;
         
       }
       >li:nth-child(3){
          margin-top:10px;
          background-color:#CFD1D2;
         
       }
       >li:nth-child(4){
          margin-top:10px;
          background-color:#CFD1D2;
          
       }
       >li:nth-child(5){
          margin-top:10px;
          background-color:#CFD1D2;
         
       }
       >li:nth-child(6){
          margin-top:10px;
          background-color:#FFC857;
         
       }
       >li:nth-child(7){
          margin-top:10px;
          background-color:#FFC857;
         
       }
       >li:nth-child(8){
          margin-top:10px;
          background-color:#FFC857;
         
       }
       >li:nth-child(9){
          margin-top:10px;
          background-color:#FFC857;
         
       }
       >li:nth-child(10){
          margin-top:10px;
          background-color:#FFC857;
          
       }
       >li:nth-child(11){
          margin-top:20px;
          background-color:#fff;
          text-align:center;
       }
   }
   
   
   .bar6{
   
       >li:nth-child(1){
          
          background-color:#CFD1D2;
        
       }
       >li:nth-child(2){
          margin-top:10px;
          background-color:#CFD1D2;
          
       }
       >li:nth-child(3){
          margin-top:10px;
          background-color:#CFD1D2;
          
       }
       >li:nth-child(4){
          margin-top:10px;
          background-color:#CFD1D2;
          
       }
       >li:nth-child(5){
          margin-top:10px;
          background-color:#CFD1D2;
         
       }
       >li:nth-child(6){
          margin-top:10px;
          background-color:#CFD1D2;
          
       }
       >li:nth-child(7){
          margin-top:10px;
          background-color:#CFD1D2;
        
       }
       >li:nth-child(8){
          margin-top:10px;
          background-color:#CFD1D2;
         
       }
       >li:nth-child(9){
          margin-top:10px;
          background-color:#94C631;
         
       }
       >li:nth-child(10){
          margin-top:10px;
          background-color:#94C631;
          
       }
       >li:nth-child(11){
          margin-top:20px;
          background-color:#fff;
         
          text-align:center;
       }
   
   }
   
   
   .bar7{
   
       >li:nth-child(1){
          
          background-color:#CFD1D2;
         
       }
       >li:nth-child(2){
          margin-top:10px;
          background-color:#CFD1D2;
         
       }
       >li:nth-child(3){
          margin-top:10px;
          background-color:#CFD1D2;
          
       }
       >li:nth-child(4){
          margin-top:10px;
          background-color:#CFD1D2;
         
       }
       >li:nth-child(5){
          margin-top:10px;
          background-color:#CFD1D2;
         
       }
       >li:nth-child(6){
          margin-top:10px;
          background-color:#FFC857;
         
       }
       >li:nth-child(7){
          margin-top:10px;
          background-color:#FFC857;
         
       }
       >li:nth-child(8){
          margin-top:10px;
          background-color:#FFC857;
         
       }
       >li:nth-child(9){
          margin-top:10px;
          background-color:#FFC857;
          
       }
       >li:nth-child(10){
          margin-top:10px;
          background-color:#FFC857;
        
       }
       >li:nth-child(11){
          margin-top:20px;
          background-color:#fff;
          text-align:center;
       }
   
   }
   
   
   .bar8{
   
       >li:nth-child(1){
         
          background-color:#CFD1D2;
        
       }
       >li:nth-child(2){
          margin-top:10px;
          background-color:#CFD1D2;
          
       }
       >li:nth-child(3){
          margin-top:10px;
          background-color:#CFD1D2;
         
       }
       >li:nth-child(4){
          margin-top:10px;
          background-color:#FB0000;
         
       }
       >li:nth-child(5){
          margin-top:10px;
          background-color:#FB0000;
         
       }
       >li:nth-child(6){
          margin-top:10px;
          background-color:#FB0000;
         
       }
       >li:nth-child(7){
          margin-top:10px;
          background-color:#FB0000;
        
       }
       >li:nth-child(8){
          margin-top:10px;
          background-color:#FB0000;
         
       }
       >li:nth-child(9){
          margin-top:10px;
          background-color:#FB0000;
         
       }
       >li:nth-child(10){
          margin-top:10px;
          background-color:#FB0000;
         
       }
       >li:nth-child(11){
          margin-top:20px;
          background-color:#fff;
          text-align:center;
       }
   
   }
}
    



.c_illustration2{
    
    font-size: 0px;
    
     img{
        max-width: 1920px;
    }
}
.c_suggestion{
    background-image: url('../img/clinic/Group\ 2462.png');
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 850px;
    height: 450px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    
    outline: 1px red solid;
    @include mobile{
      max-width: 700px;
      height: 370px;
    }
    @include iphoneX{
      max-width: 350px;
      height: 190px;
    }
}
.c_toHomepage{
   margin-bottom: 50px;
   a{

   }
   button{
      cursor: pointer;
      display: block;
      margin: 0 auto;
      font-size: 16px;
      width: 120px;
      height: 30px;
      border: none;
      outline: none;
      border-radius: 30px;
      margin-bottom: 20px;
      transition: .5s;
      text-align:center;
      &:hover{
        background-color: $colorOrange;
        color: white;
      }
   }
}
