<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../dist/css/style.css" />
    <title>Document</title>
</head>

<body>
    <!-- 客製毛孩美食 -->
    <div class="i_banner">
        <div class="i_banner_left"><img src="../img/restaurant/headerTree3.png" alt=""></div>
        <div class="i_banner_center"><img class="i_restaurant_center" src="../img/restaurant/headerDog2.png" alt="">
            <h1><span>客製</span>毛孩美食</h1>
        </div>

        <div class="i_banner_right"><img src="../img/restaurant/headerTreeFootprint.png" alt=""></div>
    </div>
    <!-- 推薦毛孩美食 -->
    <div class="i_banner">
        <div class="i_banner_left"><img src="../img/restaurant/headerTree3.png" alt=""></div>
        <div class="i_banner_center"><img class="i_restaurant_center" src="../img/restaurant/headerDog1.png" alt="">
            <h1>推薦<span>毛孩</span>美食</h1>
        </div>

        <div class="i_banner_right"><img src="../img/restaurant/headerTreeFootprint.png" alt=""></div>
    </div>
    <!-- 推薦主人美食 -->
    <div class="i_banner">
        <div class="i_banner_left"><img src="../img/restaurant/headerTree1.png" alt=""></div>
        <div class="i_banner_center">
            <img class="i_restaurant_center_left" src="../img/restaurant/headerHuman.png" alt="">
            <h1>推薦<span>主人</span>美食</h1>
            <img class="i_restaurant_center_right" src="../img/restaurant/headerFood.png" alt="">
        </div>

        <div class="i_banner_right"><img src="../img/restaurant/headerTree4.png" alt=""></div>
    </div>
    <!-- 健診報告書 -->
    <div class="i_banner">
        <div class="i_banner_left"><img src="../img/clinic/headerTree2.png" alt=""></div>

        <div class="i_banner_center">
            <img class="i_clinic_center_left" src="../img/clinic/header_C_left.png" alt="">
            <h1><span>健診</span>報告書</h1>
            <img class="i_clinic_center_right" src="../img/clinic/header_C_right.png" alt="">
        </div>
        <div class="i_banner_right"><img src="../img/clinic/headerTree1.png" alt=""></div>
    </div>
    <!-- 毛孩健檢 -->
    <div class="i_banner">
        <div class="i_banner_left"><img src="../img/clinic/headerTree2.png" alt=""></div>
        <div class="i_banner_center">
            <img class="i_clinic_center_left" src="../img/clinic/header_C_left.png" alt="">
            <h1><span>毛孩</span>健檢</h1>
            <img class="i_clinic_center_right" src="../img/clinic/header_C_right.png" alt="">
        </div>
        <div class="i_banner_right"><img src="../img/clinic/headerTree1.png" alt=""></div>
    </div>
    <!-- 醫師建議 -->
    <div class="i_banner">
        <div class="i_banner_left"><img src="../img/clinic/headerTree2.png" alt=""></div>

        <div class="i_banner_center">
            <img class="i_clinic_center_left" src="../img/clinic/header_C_left2.png" alt="">
            <h1><span>醫師</span>建議</h1>
            <img class="i_clinic_center_right" src="../img/clinic/header_C_right.png" alt="">
        </div>
        <div class="i_banner_right"><img src="../img/clinic/headerTree1.png" alt=""></div>
    </div>
    <!-- 緊急處理 -->
    <div class="i_banner">
        <div class="i_banner_left"><img src="../img/clinic/headerTree2.png" alt=""></div>
        <div class="i_banner_center">
            <img class="i_clinic_center_left" src="../img/clinic/header_C_left.png" alt="">
            <h1><span>緊急</span>處理</h1>
            <img class="i_clinic_center_right" src="../img/clinic/header_C_right.png" alt="">
        </div>
        <div class="i_banner_right"><img src="../img/clinic/headerTree1.png" alt=""></div>
    </div>
</body>

</html>