<footer>
  <div class="i_footerWrapper">
    <div class="i_footerLeft">
      <div class="i_footerLeftColumn">
        <h3>快速連結</h3>
        <ul>
          <li>
            <a href="front_index.html#news">最新消息</a>
          </li>
          <li>
            <a href="front_index.html#location">地理位置</a>
          </li>
          <li>
            <a href="lovepet_faq.html">常見FAQ</a>
          </li>
        </ul>
      </div>
      <div class="i_footerLeftColumn">
        <h3>品牌服務</h3>
        <ul>
          <li>
            <a href="restaurant.html">毛起來吃</a>
          </li>
          <li>
            <a href="hotel.html">毛起來睡</a>
          </li>
          <li>
            <a href="Mall.html">毛起來買</a>
          </li>
          <li>
            <a href="clinic_index.html">什麼毛病</a>
          </li>
        </ul>
      </div>
      <div class="i_footerLeftColumn">
        <h3>其他項目</h3>
        <ul>
          <li>
            <a target="mywindow1" href="https://www.104.com.tw/company/1a2x6bjqy4?jobsource=jolist_a_relevance">徵才資訊</a>
          </li>
          <li>
            <a target="mywindow2" href="https://www.tibame.com/">商業合作</a>
          </li>
          <li>
            <a target="mywindow3" href="https://asms.coa.gov.tw/Amlapp/app/Default.aspx">公益活動</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="i_divider"></div>
    <ul class="i_footerRight">
      <li>
        <span>Tel:</span>
        <a href="tel:02-12349876">02-1234-9876</a>
      </li>
      <li>
        <span>E-mail:</span>
        <a href="mailto:LovePets@gmail.com">LovePets@gmail.com</a>
      </li>
      <li>
        <span>Address:</span>
        <span>104 台北市中山區南京東路三段219號</span>
      </li>
      <li>
        <span>Open:</span>
        <span>週一至週日 09: 00 – 21: 30</span>
      </li>
    </ul>
  </div>
  <p class="i_copyright">
    本網站為緯育TibaMe前端設計工程師班第66期第2組學員專題成果作品，本平台僅供學習，展示之用。參考資源:
    毛孩市集、汪喵星球、MH家居、Myzoo、飼糧倉、巧思鮮食廚房、汪事如意。若有侵權疑慮，您可以私訊[TibaMe-前端設計工程師養成班]，後續會由專人協助處理。
  </p>
</footer>
<!-- 購物車組件 -->

<script type="text/x-template" id="cart">
  <div class="i_shoppingCart bar" id="bar">
    <table id="data-id" v-for="(item,index) in counts">
      <tr class="myItems">
        <td><img :src="getIMG" alt=""></td>
        <td>
          <div @click="remove" class="icon">&times;</div>
        </td>
        <td>{{getName}}</td>
        <td>
          <div @click="sub" class="icon">−</div>
          <!-- 做click事件 -->
          <input type="text" :value="getCount" readonly="readonly">
          <div @click="plus(index)" class="icon">+</div>
        </td>
        <td>NT{{getPrice}}元</td>
      </tr>
    </table>
    <hr>
    <div class="i_total">
      <h3>總價 NT {{getTotalPrice}}元</h3>
    </div>
    <a href="s_bill.html" class="i_button">結帳</a>
  </div>
</script>

<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- 鼠標 -->
<script src="js/cursor.js"></script>
<!-- axios -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<!-- GSAP -->
<script src="./vendors/GSAP/gsap.min.js"></script>
<!-- 捲軸 -->
<script src="https://cdn.staticfile.org/simplebar/5.2.1/simplebar.min.js"></script>
<!-- 月曆 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="./vendors/travo-calendar/js/tavo-calendar.js"></script>
<!-- vue -->
<script src="./vendors/vue/js/vue.js"></script>
<!-- 購物車共用組件 -->
<script src="js/mall_vue.js"></script>
<!-- 打開與關閉購物車 -->
<script src="js/shopping_cart.js"></script>