<footer>
  <div class="i_footerWrapper">
    <div class="i_footerLeft">
      <div class="i_footerLeftColumn">
        <h3>快速連結</h3>
        <ul>
          <li>
            <a href="front_index.html#news">最新消息</a>
          </li>
          <li>
            <a href="front_index.html#location">地理位置</a>
          </li>
          <li>
            <a href="#">常見FAQ</a>
          </li>
        </ul>
      </div>
      <div class="i_footerLeftColumn">
        <h3>品牌服務</h3>
        <ul>
          <li>
            <a href="restaurant.html">毛起來吃</a>
          </li>
          <li>
            <a href="hotel.html">毛起來睡</a>
          </li>
          <li>
            <a href="Mall.html">毛起來買</a>
          </li>
          <li>
            <a href="clinic_index.html">什麼毛病</a>
          </li>
        </ul>
      </div>
      <div class="i_footerLeftColumn">
        <h3>其他項目</h3>
        <ul>
          <li>
            <a target="mywindow1" href="https://www.104.com.tw/company/1a2x6bjqy4?jobsource=jolist_a_relevance">徵才資訊</a>
          </li>
          <li>
            <a target="mywindow2" href="https://www.tibame.com/">商業合作</a>
          </li>
          <li>
            <a target="mywindow3" href="https://asms.coa.gov.tw/Amlapp/app/Default.aspx">公益活動</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="i_divider"></div>
    <ul class="i_footerRight">
      <li>
        <span>Tel:</span>
        <a href="tel:02-12349876">02-1234-9876</a>
      </li>
      <li>
        <span>E-mail:</span>
        <a href="mailto:LovePets@gmail.com">LovePets@gmail.com</a>
      </li>
      <li>
        <span>Address:</span>
        <span>104 台北市中山區南京東路三段219號</span>
      </li>
      <li>
        <span>Open:</span>
        <span>週一至週日 09: 00 – 21: 30</span>
      </li>
    </ul>
  </div>
  <p class="i_copyright">
    本網站為緯育TibaMe前端設計工程師班第66期第2組學員專題成果作品，本平台僅供學習，展示之用。參考資源:
    XXXXXXXXXXXXX。若有侵權疑慮，您可以私訊[TibaMe-前端設計工程師養成班]，後續會由專人協助處理。
  </p>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="js/cursor.js"></script>