<header>

  <!-------------- m_header ----------------->
  <div class="m_header m_toggle">
    <h5><a href="../member_index.html"><img src="./img/member/catlogo-8.png" alt=""><span>會員專區</span><img src="./img/member/catlogo-8.png" alt="" style="opacity: 0;"></a></h5>
    
    <div><a href="../member_people.html"><img src="./img/member/Profile-Male-PNG.jpg" alt="profile"  class="m_person_pic"><span>吳愛寵 </span><span>&emsp; 您好</span></a></div>
    <div class="m_pets">
      <a href="../member_pets.html"><img src="./img/member/Group 2151.png" alt="profile"  class="m_pet_pic"></a>
      <a href="../member_pets.html"><img src="./img/member/Group 2151.png" alt="profile"  class="m_pet_pic"></a>
      <a href="../member_pets.html"><img src="./img/member/Group 2151.png" alt="profile"  class="m_pet_pic"></a>
    </div>
    
    <div class="m_underline_1"></div>
    <ul>
        <li><a href="../member_people.html"><img src="./img/member/catlogo-8.png" alt=""><span>我的帳號</span><img src="./img/member/catlogo-8.png" alt="" style="opacity: 0;"></a></li>
        <li><a href="../member_pets.html"><img src="./img/member/catlogo-8.png" alt=""><span>我的寵物</span><img src="./img/member/catlogo-8.png" alt="" style="opacity: 0;"></a></li>
        <li><a href="../member_order_management.html"><img src="./img/member/catlogo-8.png" alt=""><span>訂單管理</span><img src="./img/member/catlogo-8.png" alt="" style="opacity: 0;"></a></li>
        
    </ul>
    <input type="button" value="登&emsp;&emsp;出">
  </div>
  <!-------------- m_header ----------------->

  <a href="index.html" class="i_logo"><img src="img/common/i_logo.png" alt="" /></a>
  <ul class="i_navigation">
    <li>
      <a href="restaurant.html">
        <img src="img/common/i_navigationHover.png" alt="" />
        <h5>毛起來吃</h5>
      </a>
    </li>
    <li>
      <a href="hotel.html">
        <img src="img/common/i_navigationHover.png" alt="" />
        <h5>毛起來睡</h5>
      </a>
    </li>
    <li>
      <a href="Mall.html">
        <img src="img/common/i_navigationHover.png" alt="" />
        <h5>毛起來買</h5>
      </a>
    </li>
    <li>
      <a href="clinic_index.html">
        <img src="img/common/i_navigationHover.png" alt="" />
        <h5>什麼毛病</h5>
      </a>
    </li>
  </ul>
  <ul class="i_accountShopping">
    <li>
      <a href="#">
        <span class="material-icons" id="m_header_control">person</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="material-icons">shopping_cart</span>
      </a>
    </li>
  </ul>

  <nav>
    <input type="checkbox" class="toggler">
    <div class="hamburger">
      <div></div>
    </div>
    <div class="menu">
      <div>
        <div>
          <a href="index.html"><img src="img/common/i_logo.png"></a>
          <ul>
            <li><a href="#">
                <h5>毛起來吃</h5>
              </a></li>
            <li><a href="hotel.html">
                <h5>毛起來睡</h5>
              </a></li>
            <li><a href="Mall.html">
                <h5>毛起來買</h5>
              </a></li>
            <li><a href="clinic_index.html">
                <h5>什麼毛病</h5>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>