<header id="forCart">
  <div class="yu_wrapper">
    <!-- 購物車 -->
    <div id="i_shoppingCart_bk" class="i_background" style="display:none">
      <div class="i_lightbox_bk">
        <a class="i_closeButton">
          <img src="./img/common/close.png" alt="">
        </a>
        <div class="i_lightbox_title">
          <h2>購物車清單</h2>
        </div>
        <!-- 購物車組件 -->
        <the-cart @to-plus="increase" @to-sub="decrease" @to-remove="removeToCart" :counts="chooseItem"></the-cart>
        <!-- 父元件接收自訂事件toplus -->
      </div>
    </div>
    <!-------------- m_header ----------------->
    <div class=" m_header m_toggle">
      <h5><a href="./member_index.html"><img src="./img/member/catlogo-8.png" alt=""><span>會員專區</span><img
            src="./img/member/catlogo-8.png" alt="" style="opacity: 0;"></a></h5>

      <div><a href="./member_people.html">
          <img src="./img/member/Profile-Male-PNG.jpg" alt="profile" class="m_person_pic" id='m_pic'>
          <span id='m_nickname'>吳愛寵 </span>
          <span>&emsp; 您好</span>
        </a>
      </div>
      <div class="m_pets">
        <a href="./member_pets.html"><img src="./img/member/Group 2151.png" alt="profile" class="m_pet_pic"></a>
        <a href="./member_pets.html"><img src="./img/member/Group 2151.png" alt="profile" class="m_pet_pic"></a>
        <a href="./member_pets.html"><img src="./img/member/Group 2151.png" alt="profile" class="m_pet_pic"></a>
      </div>

      <div class="m_underline_1"></div>
      <ul>
        <li><a href="./member_people.html"><img src="./img/member/catlogo-8.png" alt=""><span>我的帳號</span><img
              src="./img/member/catlogo-8.png" alt="" style="opacity: 0;"></a></li>
        <li><a href="./member_pets.html"><img src="./img/member/catlogo-8.png" alt=""><span>我的寵物</span><img
              src="./img/member/catlogo-8.png" alt="" style="opacity: 0;"></a></li>
        <li><a href="./member_order_management.html"><img src="./img/member/catlogo-8.png" alt=""><span>訂單管理</span><img
              src="./img/member/catlogo-8.png" alt="" style="opacity: 0;"></a></li>

      </ul>
      <input type="button" value="登&emsp;&emsp;出" id="m_sign_btn">
    </div>
    <!-------------- m_header ----------------->
    <!-------------- m_sign_in ---------------->
    <div id="m_sign_in_bk" class="i_background" style="display:none">
      <div class="i_lightbox_bk m_sign_wrap">
        <a class="i_closeButton">
          <img src="./img/common/close.png" alt="">
        </a>
        <div class="i_lightbox_title">
          <h2>會員登入</h2>
        </div>
        <div class="m_sign signIn">
          <form method="post" action="sign_in2.php">
            <section>
              <ul>
                <li>
                  <label for="mail"><img src="./img/member/Icon material-person.png" alt=""
                      style=" height: 30px;"></label>
                  <input type="email" placeholder="請輸入您的電子信箱" id="m_account">
                </li>
                <li>
                  <label for="new_pwd"><img src="./img/member/Icon ionic-ios-lock.png" alt=""
                      style="height: 30px;"></label>
                  <input type="password" placeholder="請輸入您的正確密碼" id="m_pwd">
                </li>

              </ul>
            </section>

            <!-- <input type="button" id="m_to_sign_in"  onclick="javascript:location.href='member_index.html' "  value="會員登入"> -->
            <input type="button" id="m_to_sign_in" onclick="M_sign_in()" value="會員登入">

            <div class="m_under_submit">
              <div>
                <input type="checkbox" id="keep_sign_in">
                <label for="keep_sign_in">保持登入</label>
              </div>

              <div>
                <a href="">
                  <img src="./img/member/Icon awesome-question-circle.png" alt="" style="width: 18px;">
                </a>
                <a href="">
                  <span>忘記密碼</span>
                </a>
              </div>
            </div>

            <div class="m_underline_2"></div>

            <input type="button" id="m_switch_sign_up" value="加入我們">

          </form>
        </div>
      </div>
    </div>
    <!-------------- m_sign_in ---------------->
    <!-------------- m_sign_up ---------------->
    <div id="m_sign_up_bk" class="i_background" style="display:none">
      <div class="i_lightbox_bk m_sign_wrap">
        <a class="i_closeButton">
          <img src="./img/common/close.png" alt="">
        </a>
        <div class="i_lightbox_title">
          <h2>加入會員</h2>
        </div>
        <div class="m_sign signUp">
          <article>
            <p>
              歡迎光臨，如果您是新會員，請填寫下面資訊進行註冊，如您已是會員，請直接
              <input class="m_turnto_signin" type="button" value="登入" id="m_switch_sign_in">
              。
            </p>

            <form action="" id="sign_up_fm">
              <section>
                <h5>個人資料</h5>
                <div class="m_underline_2"></div>
                <ul>

                  <li>
                    <label for="username">*真實姓名</label>
                    <input type="text" id="username" placeholder="請輸入您的真實姓名">
                  </li>
                  <li>
                    <label for="mail">*電子信箱</label>
                    <input type="email" placeholder="請輸入您的電子信箱" id='mail'>
                  </li>
                  <li>
                    <label for="phone">*連絡電話</label>
                    <input type="text" id="phone" placeholder="請輸入您的連絡電話">
                  </li>

                </ul>
              </section>

              <section>
                <h5>詳細地址</h5>
                <div class="m_underline_2"></div>
                <ul>

                  <li>
                    <label for="address">*地址</label>
                    <input type="text" id="address">
                  </li>

                  <section>
                    <h5>帳戶密碼</h5>
                    <div class="m_underline_2"></div>
                    <ul>
                      <li>
                        <label for="nickname2">*帳戶名稱</label>
                        <input type="text" id="nickname2" placeholder="我們如何稱呼您">
                      </li>
                      <li>
                        <label for="new_pwd">*設定密碼</label>
                        <input type="password" placeholder="請輸入您的密碼" id="new_pwd">
                      </li>
                      <li>
                        <label for="chk_pwd">*確認密碼</label>
                        <input type="password" id="chk_pwd" placeholder="請再次輸入密碼">
                      </li>
                    </ul>

                  </section>

                  <input type="checkbox" id="agree_items">
                  <label for="agree_items">我已閱讀，並同意</label>
                  <a href="#">會員條款</a>

                  <input type="button" value="確認註冊" id="m_sign_up">

            </form>
          </article>
        </div>
      </div>
    </div>
    <!-------------- m_sign_up ---------------->


    <a href="front_index.html" class="i_logo"><img src="img/common/i_logo.png" alt="" /></a>
    <ul class="i_navigation">
      <li>
        <a href="restaurant.html">
          <img src="img/common/i_navigationHover.png" alt="" />
          <h5>毛起來吃</h5>
        </a>
      </li>
      <li>
        <a href="hotel.html">
          <img src="img/common/i_navigationHover.png" alt="" />
          <h5>毛起來睡</h5>
        </a>
      </li>
      <li>
        <a href="Mall.html">
          <img src="img/common/i_navigationHover.png" alt="" />
          <h5>毛起來買</h5>
        </a>
      </li>
      <li>
        <a href="clinic_index.html">
          <img src="img/common/i_navigationHover.png" alt="" />
          <h5>什麼毛病</h5>
        </a>
      </li>
    </ul>
    <ul class="i_accountShopping">
      <li>
        <a>
          <span class="material-icons" id="m_header_control">person</span>
        </a>
      </li>
      <li>
        <a @click="open" id="i_shoppingCart">
          <span class="material-icons">shopping_cart</span>
        </a>
      </li>
    </ul>

    <nav>
      <input type="checkbox" class="toggler">
      <div class="hamburger">
        <div></div>
      </div>
      <div class="menu">
        <div>
          <div>
            <a href="index.html"><img src="img/common/i_logo.png"></a>
            <ul>
              <li><a href="restaurant.html">
                  <h5>毛起來吃</h5>
                </a></li>
              <li><a href="hotel.html">
                  <h5>毛起來睡</h5>
                </a></li>
              <li><a href="Mall.html">
                  <h5>毛起來買</h5>
                </a></li>
              <li><a href="clinic_index.html">
                  <h5>什麼毛病</h5>
                </a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>