<div class="h_banner">
    <!-- 會閃的星星 -->
    <div class="star"><img src="./img/hotel/star-01.svg" alt=""></div>
    <div class="star2"><img src="./img/hotel/star2-01.svg" alt=""></div>
    <!-- 月亮星星 -->
    <div class="h_moon"><img src="./img/hotel/h_moon-07.svg" alt=""></div>
    <div class="h_star"><img src="./img/hotel/h_star-07.svg" alt=""></div>
    <!-- 風向儀 -->
    <div class="h_anemoscope"><img src="./img/hotel/h_anemoscope-02.svg" alt=""></div>
    <!-- 屋頂的貓 -->
    <div class="h_cat"><img src="./img/hotel/h_cat-03.svg" alt=""></div>
    <!-- 遮人的樹 -->
    <div class="h_tree"><img src="./img/hotel/h_tree-01.svg" alt=""></div>
    <!-- 騎腳踏車的人 -->
    <div class="h_wheel1"><img src="./img/hotel/h_wheel1-05.svg" alt=""></div>
    <div class="h_wheel2"><img src="./img/hotel/h_wheel2-06.svg" alt=""></div>
    <div class="h_bicycle"><img src="./img/hotel/h_bicycle-04.svg" alt=""></div>
    <!-- 遛狗的人 -->
    <div class="h_people"><img src="./img/hotel/h_people-01.svg" alt=""></div>
    <!-- 房型木牌 -->     
    <div id="wood1" class="doorplate"><img src="./img/hotel/wood1-01.svg" alt=""></div> 
    <div id="wood2" class="doorplate"><img src="./img/hotel/wood2-01.svg" alt=""></div> 
    <div id="wood3" class="doorplate"><img src="./img/hotel/wood3-01.svg" alt=""></div> 
    <div id="wood4" class="doorplate"><img src="./img/hotel/wood4-01.svg" alt=""></div> 
    <div id="wood5" class="doorplate"><img src="./img/hotel/wood5-01.svg" alt=""></div> 
</div>

<!-- 暗示往下滑的箭頭 -->
<div class="scroll-down"> 
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>