<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../vendors/travo-calendar/css/tavo-calendar.css">
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="https://cdn.staticfile.org/simplebar/5.2.1/simplebar.min.css" />
    <title>Document</title>
</head>

<body>
    <div class="i_background">
        <div class="i_lightbox_bk">
            <a href="#" class="i_closeButton">
                <img src="../img/common/close.png" alt="">
            </a>
            <div class="i_lightbox_title">
                <h2>預訂內容</h2>
            </div>
            <div class="bar">
                <div class="i_hotel">
                    <div class="i_hotel_left">
                        <div id="my-calendar" class="i_calendar"></div>
                        <div class="i_selece_left">
                            <div class="i_select">成人
                                <select>
                                    <option>1</option>
                                    <option>2</option>
                                </select>
                                人
                            </div>
                            <div class="i_select">兒童
                                <select>
                                    <option>1</option>
                                    <option>2</option>
                                </select>
                                人
                            </div>
                        </div>
                        <div class="i_selece_right">
                            <div class="i_select">狗
                                <select>
                                    <option>1</option>
                                    <option>2</option>
                                </select>
                                隻
                            </div>
                            <div class="i_select">貓
                                <select>
                                    <option>1</option>
                                    <option>2</option>
                                </select>
                                隻
                            </div>
                        </div>

                    </div>
                    <div class="i_hotel_right">
                        <ul class="i_hotel_bookingcontent">
                            <li>
                                <ul class="i_checkin">
                                    <li>入住時間：</li>
                                    <li>2021年04月09日 (週五) 16：00 起</li>
                                </ul>
                            </li>
                            <li>
                                <ul class="i_checkout">
                                    <li>退房時間：</li>
                                    <li>2021年04月10日 (週六) 11：00 前</li>
                                </ul>
                            </li>
                            <li>
                                <ul class="i_roomtype">
                                    <li>選擇房型：</li>
                                    <li>簡約雅緻</li>
                                </ul>
                            <li>
                                <ul class="i_stayamount">
                                    <li>房客總數：</li>
                                    <li>成人1人、孩童1人、狗1
                                        隻、貓1隻</li>
                                </ul>
                            </li>
                            <li>
                                <ul class="i_detail">
                                    <li>房價明細：</li>
                                    <li>
                                        <ul>
                                            <li>房型價格<span>$4000</span></li>
                                            <li>訂房手續費<span>$0</span></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <hr>
                        <div class="i_total">
                            <h3>總價 NT 3000元</h3>
                        </div>

                        <button type="button" class="i_button">確認預約</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.staticfile.org/simplebar/5.2.1/simplebar.min.js"></script>
    <script>
        Array.prototype.forEach.call(document.getElementsByClassName('bar'), function (el) {
            new SimpleBar(el);
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="../vendors/travo-calendar/js/tavo-calendar.js"></script>
    <script>
        const myCalendar = new TavoCalendar('#my-calendar', {
            date: new Date(),
            blacklist: [
                '2021-05-10', '2021-05-23'
            ],
            range_select: true
        })
    </script>
</body>

</html>
</body>

</html>