   <div class="hotel_top">
    <div class="wood1">
      <img src="./img/hotel/wood1-01.svg" alt="">
    </div> 
    <div class="wood2">
      <img src="./img/hotel/wood2-01.svg" alt="">
    </div> 
    <div class="wood3">
      <img src="./img/hotel/wood3-01.svg" alt="">
    </div> 
    <div class="wood4">
      <img src="./img/hotel/wood4-01.svg" alt="">
    </div> 
    <div class="wood5">
      <img src="./img/hotel/wood5-01.svg" alt="">
    </div> 
    <div class="wind">
      <img src="./img/hotel/wind.svg" alt="">
    </div>
    <div class="star">
      <img src="./img/hotel/star-01.svg" alt="">
    </div>
    <div class="star2">
      <img src="./img/hotel/star2-01.svg" alt="">
    </div>

  </div>

<!-- 暗示往下滑的箭頭 -->
    <div class="scroll-down"> 
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>