<div class="res_top">

    <div class="cloud">
      <img src="./img/restaurant/res_cloud-01.svg" alt="">
    </div> 
    <div class="p1">
      <img src="./img/restaurant/p1-01.svg" alt="">
    </div>
    <div class="p2">
      <img src="./img/restaurant/p2-01.svg" alt="">
    </div> 

    <div id="runningdog">
      <div class="dog1">
        <img src="./img/restaurant/dog1-01.svg" alt="">
      </div> 
      <div class="dog2">
        <img src="./img/restaurant/dog2-01.svg" alt="">
      </div> 
      <div class="dog3">
        <img src="./img/restaurant/dog3-01.svg" alt="">
      </div> 
      <div class="dog4">
        <img src="./img/restaurant/dog4-01.svg" alt="">
      </div> 
      <div class="dog5">
        <img src="./img/restaurant/dog5-01.svg" alt="">
      </div> 
      <div class="dog6">
        <img src="./img/restaurant/dog6-01.svg" alt="">
      </div>
      <div class="dog7">
        <img src="./img/restaurant/dog7-01.svg" alt="">
      </div>  

    </div>
   
<!-- 暗示往下滑的箭頭 -->
    <div class="scroll-down"> 
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

