<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="https://cdn.staticfile.org/simplebar/5.2.1/simplebar.min.css" />
    <title>Document</title>
</head>

<body>
    <div class="i_background">
        <div class="i_lightbox_bk">
            <a href="#" class="i_closeButton">
                <img src="../img/common/close.png" alt="">
            </a>
            <div class="i_lightbox_title">
                <h2>購物車清單</h2>
            </div>
            <div class="i_shoppingCart bar">
                <table>
                    <tr>
                        <td><img src="../img/mall/tent4@2x.png" alt=""></td>
                        <td><i class="fa fa-times-circle" aria-hidden="true"></i></td>
                        <td>寵物休閒小帳棚</td>
                        <td>
                            <i class="fa fa-minus-circle" aria-hidden="true"></i>
                            <input type="text" value="1" readonly="readonly">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        </td>
                        <td>NT 2500元</td>
                    </tr>
                    <tr>
                        <td><img src="#" alt=""></td>
                        <td><i class="fa fa-times-circle" aria-hidden="true"></i></td>
                        <td>商品商品</td>
                        <td>
                            <i class="fa fa-minus-circle" aria-hidden="true"></i>
                            <input type="text" value="1" readonly="readonly">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        </td>
                        <td>NT 100元</td>
                    </tr>
                    <tr>
                        <td><img src="#" alt=""></td>
                        <td><i class="fa fa-times-circle" aria-hidden="true"></i></td>
                        <td>商品商品</td>
                        <td>
                            <i class="fa fa-minus-circle" aria-hidden="true"></i>
                            <input type="text" value="1" readonly="readonly">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        </td>
                        <td>NT 100元</td>
                    </tr>
                </table>
                <hr>
                <div class="i_total">
                    <h3>總價 NT 300元</h3>
                </div>
                <button type="button" class="i_button">結帳</button>
            </div>
        </div>
    </div>
    <script src="https://cdn.staticfile.org/simplebar/5.2.1/simplebar.min.js"></script>
    <script>
        // Array.prototype.forEach.call(document.getElementsByClassName('bar'), function (el) {
        //     new SimpleBar(el);
        // });
    </script>
</body>

</html>