<!-- css -->
<link rel="icon" type="image/x-icon" href="img/common/favicon.ico"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap">
<link rel="stylesheet" href="css/style.css">

<!-- js -->
<script src="//s3-ap-northeast-1.amazonaws.com/justfont-user-script/jf-62442.js"></script>
<script src="js/m_header.js"></script>