$font-size: (
    fontSize50: 30px,
    fontSize45: 27px,
    fontSize40: 24px,
    fontSize36: 21px,
    fontSize32: 19px,
    fontSize26: 16px
);

$color: (
    headerColor: #FFC857,
    headerfont: #734b23,
    footerColor: #915727,
    confirmButtonColor: #FFC857,
    closeButtonColor: #FFC857,
    addMenuColor: #F39800,
    lightBoxColor: #D3E0BE,
    lightBoxBackgroundColor: rgba(0, 0, 0, 0.8), );

// common setting
h1 {
    font-size: map-get($font-size, fontSize50);
}

h2 {
    font-size: map-get($font-size, fontSize45);
    font-weight: bold;
}

h3 {
    font-size: map-get($font-size, fontSize40);
    font-weight: bold;
}

h4 {
    font-size: map-get($font-size, fontSize36);
    font-weight: bold;
}

h5 {
    font-size: map-get($font-size, fontSize36);
}

p {
    font-size: map-get($font-size, fontSize32);
}

a {
    text-decoration: none;
}

.i_button {
    font-size: map-get($font-size, fontSize26);
    font-weight: bold;
}

img {
    width: 100%;
    display: block;
}

body {
    box-sizing: border-box;
    font-family: "Noto Sans TC", sans-serif;
}
