$font-size: (
    fontSize50: 30px,
    fontSize45: 27px,
    fontSize40: 24px,
    fontSize36: 21px,
    fontSize32: 19px,
    fontSize26: 16px
);

// common setting
h1 {
    font-size: map-get($font-size, fontSize50);
    font-weight: bold;
}

h2 {
    font-size: map-get($font-size, fontSize45);
    font-weight: bold;
}

h3 {
    font-size: map-get($font-size, fontSize40);
    font-weight: bold;
}

h4 {
    font-size: map-get($font-size, fontSize36);
    font-weight: bold;
}

h5 {
    font-size: map-get($font-size, fontSize36);
}

p {
    font-size: map-get($font-size, fontSize32);
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}
body {
    font-family: "setofont","Noto Sans TC", sans-serif;
    cursor: none;
    padding-top: 87px;
    // overflow-x:hidden;
    @include pad{
        overflow-x:visible;
        cursor: auto;
    }
}

*{
    box-sizing: border-box;
}

#justfont-badge{
    display: none!important;
}