// *{
//   outline: 1px solid red;
// }
@mixin pad {
  @media(max-width:1025px) {
      @content;
  }
}

@mixin mobile {
  @media(max-width:769px) {
      @content;
  }
}

@mixin iphoneX {
  @media(max-width:376px) {
      @content;
  }
}

//================================== 變數 ==================================//
$m_title_fs:30px;
$m_content_fs:24px;
$m_btn_fs:19px;
$m_pho_fs:16px;

$m_title_color:rgb(255,169,144);
$m_line_color:#ccc;
$m_bg_color:#FFC857;

$m_item_title_color:rgb(186,212,135);
$m_item_title_color2:rgb(112,112,112);
$m_item_title_color3:rgb(211,224,190);
$m_bg_color2: rgba(71, 71, 71, 0.1); //from _m_order_management

$m_line_height: 2.5;



//================================== 組件 ==================================//
.m_underline_2{
  width: 100%;
  height: 1px;
  background-color: $m_line_color;
  margin: 30px 0;
  display: inline-block;
}


//================================== 模型 ==================================//

@mixin m_input_style($width) {
  li{
    padding: 5px 0;
  }
  input{
    width: $width;
    border: 0;
    border-bottom: 1px solid $m_line_color;
    margin: 0 15px;
    
    &:focus{
      outline: 0;
      background-color: $m_line_color;
      color: white;
    }
  }
}

@mixin m_btn {
  background-color: $m_bg_color;
  width: 200px;
  border: 0;
  padding: 12px 0;
  font-size: $m_btn_fs;
  border-radius: 20px;

  margin: 20px 0 45px;

  &:hover{
    color: white;
    background-color: darken($m_bg_color, 20%);
  }
}

//================================== 外層 ==================================//

@include iphoneX(){
  .m_wrapper main{
  padding: 50px 3px;
  //color: red;
  }

}

@include mobile {
  .m_wrapper main{
    padding: 50px 3.5%;
    //color: red;
    //background-color: orange;
    }
}

.m_wrapper main{
  // padding: 80px 50px;
  text-align: center;

  h5{
    font-size: $m_title_fs;
    color: $m_title_color;
  
    margin-top: 60px;
    @include iphoneX(){
      font-size: $m_content_fs;
      }
  }
  img{
    display: inline;
  }

  img[alt="edit"]{
  opacity: 0.1;
  &:hover{
    opacity: 0.6;
  }
  }
  
  input{
    line-height: $m_line_height;
  }
}
  
.m_wrapper .m_pets{ 
  //margin-bottom: 2px;
  background-color: white;
}

//================================== 層 ==================================//


.m_pets_pics{
  display: flex;
  justify-content: space-around;
  padding: 0 150px;
  overflow-x: scroll;

  // #pet_name0, #pet_name2{
  //   font-size: 24px;
  //   font-family: 'setofont','Noto Sans TC', sans-serif;
  // }
  // 字型會跑掉@@

  @include m_input_style(60%);
  input{
    text-align: center;
    
    &::placeholder{
      text-align: center;
    }
  }
}

.m_pet_pics div{
  background-color: $m_bg_color2; 
}

.m_pet_pic{
  width: 200px;
  margin: 20px 10px;

  opacity: 0.6;
  &:hover{
    opacity: 1;
    
  }
  @include iphoneX(){
    width: 150px;

  }
}

.m_pet_info{

  ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include  m_input_style(67%);
    @include pad(){  
      input{
        width: 60%;
      }
    }
  }
  
  li{
    flex-basis: 40%;
    flex-grow: 1;
    margin-left: 10px;
    text-align: left;
    @include iphoneX(){
      flex-basis: 100%;
    }
  }
  .m_pet_chip_num{
    flex-basis: 100%;
    input{
      width: 77%;

      @include pad(){  
          width: 70%;
      }

      @include iphoneX(){
         width: 80%;
      }
    }

  }

  .m_pet_radio{
    text-align: center;

    p{
      margin-bottom: 20px;
      text-align: left;
    }

    input[type="radio"]{
      width: 30px;
    }

    label{
      margin-right: 30px;
    }


    @include pad(){

      label{
        margin-right: 5px;
      }
    }
  }
}



.m_btn{
  @include m_btn();
}

//================================== 層 ==================================//

.m_emergancy_data{
  
  ul{
    width: 98%;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  li{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    
    h6{
      flex-basis: 30%;
      padding: 10px 0;
      font-size: $m_content_fs;
      border: 0.5px solid $m_line_color;
      
      @include iphoneX(){
        flex-basis: 25%;
        font-size: $m_btn_fs;
        }
    }

    &:first-child{
      border-bottom: 1px solid $m_line_color;
      background-color: $m_line_color;
    }

    &:last-child >h6{
      height: 0;
      padding: 3% 0;
    }
    p{
      padding: 15px ;
      flex-basis: 70%;
      font-size: $m_btn_fs;
      color: $m_item_title_color2;
      border: 0.5px solid $m_line_color;
     

      @include iphoneX(){
        flex-basis: 75%;
        font-size: $m_pho_fs;
        line-height: 1.2;
      }
    }
  }

  .m_discript{
    p{
      text-align: left;
      line-height: 1.3;
    }
  }
  
}

//================================== member_index ==================================//
//================================== 東西沒有很多，所以我接著寫 ==================================//

.m_link{
  text-align: right;
  padding: 0 30px;
  a{
    color: darken($m_line_color, 15%) ;
    font-size: $m_btn_fs;
    &:hover{
      color: $m_bg_color;
    }
  
  }

  @include iphoneX(){
    padding: 0 ;
    a{
      font-size: $m_pho_fs;
    }   
  }
}

.m_wrapper .m_member_order{
  section+section{
    margin-bottom: 2px;
  }
}


.m_member_index .personal_info input{
  
    width: 200px;
    border: 0;
    border-bottom: 1px solid $m_line_color;
    margin: 0 15px;
    background-color: rgb(236, 236, 236);
    line-height: $m_line_height;

    &:focus{
      outline: 0;
      background-color: $m_line_color;
      color: white;
    }
}