/*商品區塊*/

.supplies_block{
  margin-top: 29px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .items{
    width: 24%;
    border-radius: 25%;
    overflow: hidden;
    box-shadow: 0px 0px 10px -3px rgba(#000000, .5);
    margin-bottom: 55px;
    position: relative;
    @include pad{
      width: 30%;
    }
    @include mobile{
      width: 45%;
    }
    img{
      width: 100%;
    }
    .info_block{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      text-align: center;
      color: #FFFFFF;
      display: none;
    }
    .view_btn{
      width: 130px;
      height: 47px;
      background-color: #FFC857;
      border-radius: 100px;
      cursor: pointer;
      margin: 0 auto;
      @include notebook{
        width: 100px;
        height: 36px;
      }
      @include pad{
        width: 80px;
        height: 30px;
      }
      @include mobile{
        width: 60px;
        height: 22px;
      }
    }
  }

  .items:hover{
    transition: all .2s;
    background-color: #000000;
  }
  
  .items:hover img{
    transition: all .2s;
    opacity: 0.5;
  }

  .items:hover .info_block{
    display: block;
  }

  h4{
    font-size: 28px;
    line-height: 50px;
    @include notebook{
      font-size: 20px;
      line-height: 35px;
    }
    @include pad{
      font-size: 16px;
      line-height: 35px;
    }
    @include mobile{
      font-size: 14px;
      line-height: 30px;
    }
  }
  h3{
    font-size: 32px;
    line-height: 47px;
    @include notebook{
      font-size: 16px;
      line-height: 36px;
    }
    @include pad{
      font-size: 20px;
      line-height: 30px;
    }
    @include mobile{
      font-size: 16px;
      line-height: 22px;
    }
  }
}